[2014-08-10 22:46] parkr opened #5 "Remove all these crazy monkey patches"
This repository contains core extensions, which can muck with a lot of stuff.

This "reborn" version should not contain any of these core extensions. Let's figure out a way to use modules & module methods to get it all isolated from the core.

[2014-08-14 17:16] adrianorsouza opened #12 "Error: undefined method `<=>' when LSI is enable, having fenced code block"
I run into this issue when trying to set a better related post for my blog. So I set `lsi: true` it turns out that if I have more than one post file written with fenced code in it that has some opening language tag it will not build the site whether the fenced code exists in more than one file. To produce the error I got one post called.
`2014-07-29-post-one.md` witch has this fenced code.

[code]

[2014-08-15 06:07] #12 closed, assigned to nobody

[2014-09-13 03:56] danbernier opened #14 "LSI#build_index is very slow"
I have code something like this:

[code]

...and `build_index` runs very slowly on lots of items.
- With ~10 items, it runs in <1 second
- With ~20 items, it runs in ~15 seconds
- With ~30 items, it runs in ~130 seconds

I tracked it down to #build_index by disabling `auto_rebuild`. From there, I tracked it through LSI#build_reduced_matrix, to the monkey-patched extension `Matrix#SV_decomp`, insid

[2014-10-01 03:13] Ch4s3 opened #19 "JRuby Support"
There is a pure ruby version fast-stemmer and a java version, so it should be possible to add jruby support. I could probably get that working if there is interest.

[2014-10-26 21:05] Ch4s3 opened #22 "Feature: Classify with minimum threshold"
We monkey patched ClassifierReborn::Bayes with a method that allows you to classify text but return "Not Found" if the classifications method returns a score below a given threshold. The idea is to cut down on false positives.

Would this be an interesting feature to include in the gem proper? If so I'd be happy to tackle that.

[2014-10-28 15:36] Ch4s3 opened #23 "Code Climate"
I ran code climate against the gem and it looks pretty interesting.
https://codeclimate.com/github/jekyll/classifier-reborn

This could be a good source for future improvements. Thoughts?

[2014-10-28 17:47] #23 closed, assigned to nobody

[2014-11-12 15:21] jjk-jacky opened #26 "undefined method `reduce'"
I'm using jekyll (2.5.1) and after upgrading ruby-classifier-reborn to 2.0.2 it errors out:
Error: undefined method `reduce' for #GSL::Vector...

I have no idea where this comes from, all I can tell is in 2.0.2 a few commits have replaced sum with .reduce(0, :+) (926fc3f8 & 555d4a3a) and that might to be the source of this. I've downgraded ruby-classifier-reborn back to 2.0.1 for now.

FYI I have

[2014-11-13 13:33] hamac opened #27 "comparison of Float with Float failed (ArgumentError) on a simple training test"
Hi,
I had an error and managed to reproduce it with the following basic test adapted from the Readme example:

[code]

the third .add_item fails with:

classifier-reborn-2.0.2/lib/classifier-reborn/lsi.rb:284:in `sort': comparison of Float with Float failed (ArgumentError)

Anything I'm doing wrong?

Thanks

[2014-11-14 04:24] #26 closed, assigned to nobody

[2014-12-03 03:20] Ch4s3 opened #30 "Rewrite the SVD"
As discussed in https://github.com/jekyll/classifier-reborn/issues/27 we need to rewrite the SVD method [here](https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/extensions/vector.rb#L15). This could also be used as an opportunity to remove the monkey patch on matrix, and provide a method like `svd(matrix)`. This will clear up https://github.com/jekyll/classifier-reborn/

[2014-12-22 14:13] Ch4s3 opened #31 "Undefined method when classifying with Madeline"
Using the cached word count [here](https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/bayes.rb#L77) while classifying from a presiously trained set breaks as `@category_word_count` will not have been initilized.

Working on a fix.

[2015-02-04 16:29] Ch4s3 commented on #31
This looks to be madeline specific, so in light of the new preference for Marshal or Redis, I think it makes sense to close this issue.

[2015-02-04 16:29] #31 closed

[2015-04-10 12:16] bdthinh opened #34 "Warning on lsi.rb line 237"
Hello guys,

I recently setup lsi for my octopress application but these following warnings always appear and i don't know why:
`/Users/user/.rvm/gems/ruby-2.2.1/gems/classifier-reborn-2.0.3/lib/classifier-reborn/lsi.rb:237: warning: Comparable#== will no more rescue exceptions of #<=> in the next release.`

`/Users/user/.rvm/gems/ruby-2.2.1/gems/classifier-reborn-2.0.3/lib/classifier-reborn/lsi.r

[2015-04-10 14:26] Ch4s3 commented on #34
Which version of Jekyll and Octopress are you using? I understand that this issue is sometimes solved by upgrading. If that doesn't fix it, can you provide a bit more info about the input that's causing the spaceship overload warning?

[2015-04-10 16:24] bdthinh commented on #34
I'm using Jekyll 2.5.3 and Octopress 2.5 (newest to now, 3.0 is in development). I also try to upgrade Jekyll and Classifier-reborn but nothing's help. The warning is still be there.

[2015-04-10 18:01] Ch4s3 commented on #34
Can you post the two things being compared that set off the warning? Could you post a full stack trace?

[2015-04-10 19:46] parkr commented on #34
I feel like there's a jekyll/jekyll PR for this...

[2015-04-11 23:10] Ch4s3 commented on #34
@parkr correct: https://github.com/jekyll/jekyll/pull/3629 . So, @bdthinh it looks like you can either: use jekyll head, wait for 3.0, or just ignore the deprecation warning. It doesn't mean anything is wrong per se, just that in future Ruby versions, the <=> will not swallow exceptions from types that aren't comparable. So in future Rubies the input that caused this will throw an exception.

Can

[2015-04-12 05:59] parkr commented on #34
Perhaps the PR on this repo is also aimed toward this?

[2015-04-13 13:12] Ch4s3 commented on #34
Ahh, correct. #33 is exactly about this as well. I'll take a look and see if I can get that wrapped up.

[2015-04-29 12:45] shilpi230 opened #35 "How can i pass an array for training words or sentences."
I have some set of arrays containing good and bad words how can i pass into this.  ```classifier.train_interesting```

[2015-04-29 13:25] Ch4s3 commented on #35
You can just pass in a long string, but if you specifically need to pass in an array you can just iterate.

[code]

[2015-04-29 17:24] parkr commented on #35
@Ch4s3 :clap: !

[2015-04-29 17:24] #35 closed

[2015-05-04 20:37] nhoizey commented on #14
It seems I have a blocking issue with LSI.

I have this issue I wrote about on Stackoverflow: <http://stackoverflow.com/questions/30038899/jekyll-build-stuck-in-rebuilding-index-stage>

A friend told me to try without LSI, and indeed I have not the issue anymore.

Any progress on this since november?

[2015-05-05 14:06] Ch4s3 commented on #14
@nhoizey Sadly no. We still need to rewrite the SVD, and I haven't had to to relearn that corner of linear algebra to rewrite it. If you know anyone who is both a Rubyist and handy at matrix manipulation, they could be super helpful here!

Otherwise I'll try my best to work on it, but I'm a bit swamped right now.

[2015-05-05 15:57] nhoizey commented on #14
@Ch4s3 ok, thanks for the quick answer! I will do without LSI now, and watch the issue to know when any progress is made. I will try to find if someone can help: https://twitter.com/nhoizey/status/595618088369938432

[2015-05-05 18:12] Ch4s3 commented on #14
Awesome, thanks! If I decide I absolutely can't do it, I'll consider putting a bounty on it down the line.

[2015-05-28 20:12] inspire22 commented on #22
Checking up, I would love to see customizable thresholding...

[2015-05-28 20:14] inspire22 commented on #14
+1 Thanks, I've been wondering why LSI seems so crazy slow once I get above 100 documents...

[2015-05-29 14:11] Ch4s3 commented on #22
Since you asked, I'll try to get it done this weekend. @inspire22, I'll base it off of the code my company uses to set the threshold, but do you have any requests or special use case in mind? I'd be happy to incorporate feedback.

[2015-05-30 20:57] inspire22 commented on #22
Awesome, thanks :)

I'm using to automatically categories stuff into "featured" and "not featured".  I figured there'd be some kind of internal threshold such that if I have 100,000 items that I'm sorting through, I could get varying numbers of documents returning "featured".  I figured it'd be a 0-1 number that would affect it increasingly.  I haven't looked at the bayes algorithm in a long time

[2015-06-12 14:26] Ch4s3 opened #36 "Tests do not run on 2.2.1"
The require fails:
[code]

I'm investigating.

[2015-06-12 14:35] Ch4s3 commented on #36
#37 fixes this and adds 2.2 tests to travis.

[2015-06-12 22:21] #36 closed

[2015-06-13 20:54] #34 closed

[2015-06-13 20:54] Ch4s3 commented on #34
merged #33

[2015-06-14 21:03] Ch4s3 commented on #30
@parkr The more I read about this, the more I think a pure Ruby implementation is just going to always give us poor performance. It might make sense to bundle a C solution into the gem since there a lot of great existing solutions. Then just check to make sure it builds correctly on various platforms.

I'm not married to this approach, but it could be the right way forward. Thoughts?

[2015-06-14 21:21] parkr commented on #30
That seems like a good plan.

[2015-06-14 21:25] Ch4s3 commented on #30
Ok. I'll devise a plan tonight and scout out implementations. It'll be good to wrap this one up.

[2015-06-15 01:08] parkr commented on #30
Sounds terrific. Thanks, Chase!

[2015-06-15 02:17] Ch4s3 commented on #30
Not a problem. I want to wrap up a few things in a row and get a release out in the next week(ish).

[2015-06-15 23:45] #5 closed

[2015-06-16 01:00] Ch4s3 commented on #30
I figured out how to build and compile C-extensions, and just need to settle on an implementation that has a good license. @parkr do you have a strong OSS license preference?

[2015-06-16 04:17] parkr commented on #30
As long as the license is compatible and GitHub can use it for commercial purposes, it's fine. I usually lean for the MIT. Can MIT projects contain GNU code? I'm not sure.

[2015-06-16 04:54] Ch4s3 commented on #30
I'll read up

[2015-07-23 14:06] Ch4s3 commented on #30
Ok, I've tried  few things and have it sort of working, but it segfaults on rare occasions. Still a wip.

[2015-07-23 16:12] parkr commented on #30
Sweet! When is it segfaulting? Is the C still optional?

[2015-07-23 17:35] Ch4s3 commented on #30
It segfaults while transforming the matrix for some inputs. It could be optional.

[2015-08-19 14:20] jayniz commented on #30
Any news here? :)

[2015-08-20 19:20] Ch4s3 commented on #30
@jayniz I had to take a break from this for a bit, but I'll try to get back to it soon. Basically I found 1 or 2 promising implementations,  but they both segfault for some input. I'm not sure why yet so I haven't gotten past that. I'll do my best to figure it out soon, but I'm open to people helping out.

[2015-08-21 08:16] jayniz commented on #30
Hey @Ch4s3 no problemo :-) The bayes classifier is working and goes into production today.

I played around with LSI locally, and I got the above errors for my inputs - not with the GLS lib and gem though, that worked. But where training the bayes with 6k inputs took ~8 sec, LSI took a couple of minutes for 600 inputs (and with 6k inputs it's still running after 30h) on a recent 13"mbp with 16G ra

[2015-08-21 13:54] Ch4s3 commented on #30
@jayniz Awesome to hear that the bayes classifier is working! I'll keep working on the SVD.

[2015-09-03 18:11] Ch4s3 commented on #22
closed by #39

[2015-09-03 18:11] #22 closed

[2015-09-03 18:17] Ch4s3 opened #42 "New tagged release and docs"
We should add docs for the new `classify_with_score` and push out a new minor release.

- [x] Docs for `classify_with_score`

[2015-09-03 22:03] cheeyeo opened #43 "classify_with_score and scored_categories return undefined?"
Hi

I tried running ClassifierReborn::LSI from the example in the README and when invoking the 'classify_with_score' and 'scored_categories' methods, it returns undefined? Am I calling it wrong?

[code]

[2015-09-03 22:27] cheeyeo commented on #43
I also noticed that these methods are not in the gem version pulled from rubygems.org? The LSI class differs from the master branch here in the repo?

[2015-09-03 22:30] parkr commented on #43
@cheeyeo the readme might be reflecting current `master` which has (in the last few days) undergone some fairly significant changes. Please use the `master` branch for those or find the readme at the version you're running.

[2015-09-03 22:33] cheeyeo commented on #43
@parkr Thanks for the prompt reply! Thought I was losing my mind for a moment :+1:

[2015-09-03 22:33] #43 closed

[2015-09-09 16:02] jayniz commented on #14
Been bitten by this too :)

[2015-09-15 15:02] kreynolds commented on #14
I just did a bunch of performance improvements for the GSL (some for pure-ruby as well) and I thought I'd add some benchmarks here .. I index 130 documents in 4 seconds on my 2013 macbook pro. If you are having performance issues, you might want to check out the GSL variant, especially once #46 gets merged

[2015-09-29 14:03] bararchy opened #47 "Weird behavior when one category is empty"
So, this is an example

[code]

After training ```not_a_number``` it works as expected
[code]

I'm new to the idea of classifiers so maybe this is intentional, just looks strange to me.

[2015-09-29 14:55] parkr commented on #47
Very interesting! The fact that the classifier doesn't have a competing classification may be the root cause. When `not_a_number` is empty, the classifier only has one classification that it could possibly pick – `null` is not an option, and even if the match is some infinitesimal number or 0 itself, it's the only classification we know about so match it. Solution would be to say match coefficient

[2015-09-30 10:49] bararchy commented on #47
@parkr Will it be too bad to say something like: "if value is not classified in category 'a', then, even though category 'b' is empty, it belongs there" ?

[2015-10-01 11:01] bararchy commented on #47
Maybe if I give an example of my usage it will be easier to understand my need to leave one category empty.

I'm using this gem to learn HTTP Traffic, I'm setting it to "Training Mode" and show it what "normal traffic" looks like, then, I want it to check traffic and if the classification isn't "normal traffic" then it is "suspicious traffic" and I drop the packet.

Right now it only works if I sh

[2015-10-09 00:35] Ch4s3 commented on #47
I'm just getting back from vacation I'll take a look soon

[2015-10-11 14:07] bararchy commented on #47
@Ch4s3 Hi, did you manage to see what's going on here ?

[2015-10-14 20:02] jcomello opened #48 "Diferent weight for known words or user oriented trainning"
Hi,
There is a way to add weight for the probabilities? I mean, I have some words that I already know the classifications that they have to be, but I don't know if there's a way to add weights for these words. Thanks

[2015-10-14 20:11] jcomello opened #49 "Encoding::CompatibilityError for hasher"
I'm using an older version of ruby (1.9.3) and I getting the following error. I notice that the hasher.rb file does not have the encoding specified.
May I fix it and send a PR?

Thanks guys.
[code]

[2015-10-15 17:25] Ch4s3 commented on #49
Please feel free to send a PR. We'll probably drop 1.9.3 in future releases, but we can  incorporate small fixes like this in the meantime.

[2015-10-15 17:26] Ch4s3 commented on #47
Sorry, I got bogged down catching up at work. It's on my radar though.

[2015-10-15 17:33] Ch4s3 commented on #48
You mean manually inserting them into Category's words? There isn't a way to do that at the moment, and it may be out of scope. What do you think @parkr

[2015-10-15 18:25] parkr commented on #48
Which classifier is this for? It sounds like you're looking for a way to save and load a model.

[2015-10-15 18:29] parkr commented on #49
@jcomello can you see if adding the magic encoding header helps this? just add the following `hasher.rb`

[code]

[2015-10-16 13:29] jcomello commented on #48
I didn't mean add words manually, but add weights to known words. For example:
I know that the word "Cobit" is related to technology, but in a big text it doesn't make much diference. I thought of add some weights for these kind of words. Is it possible?

[2015-10-16 13:47] jcomello opened #51 "Changing language and auto_categorize attributes"
I have to use the portuguese stopwords at bayes classifier but the initialize method is fixed for english, the auto_categorize has the same issue.

[code]

I search at the gem and I didn't find a setter. There is another way?

[2015-10-19 15:15] MadBomber commented on #47
This is akin to a "none of the above" kind of classification where given a set of categories if the best fit is less than some threshold then a result indicating "none of the above" or :unknown is returned.

[2015-10-19 15:17] bararchy commented on #47
@MadBomber Good point, this is exactly the answer I was looking for from the classifier :)
I hope it could be implemented.

[2015-10-19 17:36] jcomello commented on #51
I found out how to do it.

[code]

The initialize method has a decision that merges with the options variable.

I thought about just add some getter and setters, what do you think?

[2015-10-19 17:40] Ch4s3 commented on #51
we should probably add the ability to set the language with the initialize method and default to English if no language is given.

[2015-10-19 17:40] #49 closed

[2015-10-19 18:05] MadBomber commented on #47
Take a look at my fork to see if this is what you had in mind.

https://github.com/MadBomber/classifier-reborn/commit/509633435489f61b0fb41313533e9855bfd904c0 <https://github.com/MadBomber/classifier-reborn/commit/509633435489f61b0fb41313533e9855bfd904c0>

I am not 100% sure this is a good solution to what you want to do.  I'm thinking that there will be a large number of false positives.  You may

[2015-10-20 03:24] MadBomber commented on #51
[code]
over-rides the english default; however, I do not see a 'pi' file in the data/stopwords directory.

[2015-10-20 03:33] MadBomber commented on #47
In your pry session I think that if you had used #classify_with_score you would have seen that the score was being returned as Float::INIFINITY for text that was not classified as 'a_number'

[2015-10-20 07:26] bararchy commented on #47
@MadBomber I just tried your version, again, only training the "normal activity" category.
This is what I do:

[code]

[2015-10-20 11:27] jcomello commented on #51
@MadBomber I figure it out. I just added a new test and attr_reader for language and auto_categorize. I think this is useful.

[2015-10-20 15:20] MadBomber commented on #47
Given your examples, that is proper behavior.  You trained  the classifier with only one example - a very long string.  You asked it to classify a very short string.  It rejected the string showing a score of Infinity which means that there is no matching category.

Try this pattern:

# Notice there is only one category: Normal
ai_overlord = ClassifierReborn::Bayes.new(
						'Normal',
						enabl

[2015-10-20 22:31] MadBomber opened #53 "Feature Reqiest: save/load baysian classifier"
Someone mentioned this in a comment within the last rew months.  I thought I'd just consolidate it here.  What I'm thinking about is ClassifierReborn#load and ClassifierReborn#save instance methods that serialize the classifier from/to a compressed file.  It would looking something like this:

[code]

[2015-10-21 13:45] Ch4s3 commented on #53
We can write to `.dat` file with `marshal`, and I can get behind a convenience methods for that. Writing to a zip would require another gem and we try to minimize dependencies. I can take a look at implementing a `.save` though

[2015-10-26 14:55] bararchy commented on #53
Do we really need a method for 2 lines of code ?

[code]

[2015-10-26 15:07] Ch4s3 commented on #53
@bararchy I'm not really sure. What do you think @parkr?

[2015-10-27 08:42] bararchy commented on #47
So, @MadBomber just wanted to ask, is there a way to add a "none of the above" option ? this way I can have a default "none of the above" value, and then I can only train one classification.

[2015-10-27 14:14] MadBomber commented on #47
The feature has been merged with the master but a new version of the gem has not yet been published.  You can look at the code to see the details:

https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/bayes.rb <https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/bayes.rb>

Here is the gist:

1) it only works with the classify method.  All other me

[2015-10-27 15:18] bararchy commented on #47
@MadBomber Thanks for the great explanation and the example in the tests.

Right now I used a -200.0 threshold to stop a SQL Injection attack from SQLMAP.

I need to play around with letting the classifier learn more, then, test a few attacks.
anyhow this is fine for my use case, many thanks (also it's stable, I would push a new gem version ;) )
I'll update if necessary, issue closed :)

[2015-10-27 15:18] #47 closed

[2015-10-28 03:54] Ch4s3 commented on #47
@MadBomber and @bararchy I'm going to try to release a new version soon. I basically jut need to get some stuff on the readme about the new features.

[2015-10-28 17:48] Ch4s3 commented on #42
Once #54 gets merged and @parkr signs off, I think we will release the new version.

[2015-10-30 14:40] jcomello opened #55 "NoMethodError: undefined method `+' for nil:NilClass at Train method"
Hi, I'm getting this error for train method.

[code]

The problem is in:

[code]
When, for example, @categories[category][word] is nil, it get this error. I solve it calling the to_i method.
It changed for
[code]

The thing is, I trying to reproduce this error in a test. Can you help me?

[2015-10-30 15:53] jcomello opened #56 "NoMethodError: undefined method `+' for nil:NilClass at Train method"
Hi, I'm getting this error for train method.

[code]

The problem is in:

[code]

When, for example, @categories[category][word] is nil, it get this error. I solve it calling the to_i method.
It changed for

[code]

The thing is, I'm trying to reproduce this error in a test. Can you help me?

[2015-10-30 17:18] Ch4s3 commented on #56
Do you have sample data that causes the issue?

[2015-10-30 17:18] Ch4s3 commented on #55
same as #56

[2015-10-30 17:18] #55 closed

[2015-10-31 02:12] MadBomber commented on #47
I will add a section to the README on the threshold features.  Should have a pull request in by tonight.

o-*

[2015-10-31 21:23] Ch4s3 commented on #53
I'll see about putting this in `2.0.5`

[2015-10-31 21:23] Ch4s3 commented on #42
`2.0.4` has been released

[2015-10-31 21:23] #42 closed

[2015-10-31 21:25] Ch4s3 commented on #48
We might be able to do this, but I'm not sure what the best approach would be yet.

[2015-10-31 21:26] Ch4s3 commented on #19
I'll try to get this into `2.0.5`

[2015-11-03 14:48] bararchy opened #58 "A question about the score/threshold"
Is the score gets lower or higher as the match gets more exact ?

lets say I matched 3 out of 4 words, does it go north (-) of 0.0 or south (+)?

[2015-11-03 15:01] Ch4s3 commented on #58
It approaches 0 as the match becomes a better fit.

[2015-11-03 15:04] bararchy commented on #58
@Ch4s3 Well, this is this a bug?

[code]
Why "This is not" is matched better to "This is really normal" then "This is really normal" to itself ?

[2015-11-03 16:42] Ch4s3 commented on #58
let me look into it later.

[2015-11-03 23:37] Ch4s3 commented on #58
Sorry, I had it backwards. The more negative the score the better the fit. So a score of `-11.0` would be a better fit than `-8.2`. A better way of putting it would be to say that the greater the absolute value of the score, the greater the fit.

[2015-11-03 23:37] Ch4s3 commented on #58
Again, sorry about the mistake and any ensuing confusion.

[2015-11-04 03:25] Ch4s3 commented on #30
@jayniz If you can provide me with sample data that worked with the GLS but broke with the ruby implementation, that would be super helpful!

[2015-11-04 09:34] jayniz commented on #30
@Ch4s3 not straight away, I'd have to run it on some data to see if it crashes first :-) if you let me know which implementation I should try to crash, I can try to find some time this week to make it crash and then send you the data that crashed it?

![](https://dl.dropboxusercontent.com/u/1953503/gifs/vHEUIt2.jpg)

[2015-11-04 09:38] bararchy commented on #58
@Ch4s3 No problem.

@MadBomber  do you think then that the threshold should be "reversed" ? Right now it says "anything higher then threshold is not "normal" (as in my example), but, because the closer the match the higher the negative number, the threshold should say "anything lower then threshold is not "normal"

Does this makes sense ?

[2015-11-04 14:04] Ch4s3 commented on #30
@jayniz Awesome, see if you can blow up the native ruby implementation. I found an LGPL implementation of the svd in C and I'm writing a wrapper for a c extension, but it won't be done straight away. Any input that crashes other implementations will be good for testing.

[2015-11-04 14:13] Ch4s3 commented on #58
looking at the docs
[code]
That does seem confusing.

[2015-11-04 14:14] bararchy commented on #58
Yeha, it should be the other way around doesn't it ?

[2015-11-04 14:19] jayniz commented on #30
Ah, IIRC it was the LSI that I had issues with. Hmm....

[2015-11-04 14:38] Ch4s3 commented on #30
ahh sorry, the LSI feature uses the SVD under the hood, and the ruby svd is what makes it slow vs using GSL. See this [line](https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/lsi.rb#L292).

[2015-11-04 14:54] MadBomber commented on #58
This is how the README explains it.
[code]

The use of negative numbers can be confusing to some people.  We know (right?) that -12 is higher (maybe larger?) than -18.

Maybe we need to take a look at how we generate the score and map it to a probability.  Explaining 0% to 100% in terms of a match is much easier.  It is unambiguous to say that "this text" is a 100% match to this category.  The hig

[2015-11-04 14:56] Ch4s3 commented on #58
@MadBomber I'd rather just clarify the documentation. It works as expected, and IMO a slowdown isn't really worth it.

[2015-11-04 15:02] MadBomber commented on #58
Then the meaning of the score is that the larger the absolute value the better the fit?  A score of zero is a definite no match?  and a score of Float::INFINITY is the same as zero?

[2015-11-04 15:05] jayniz commented on #30
Ooops, I don't know how, but I misread SVD as the bayes classifier in my
head. I don't know how, but I did it. Will try to make it crash and let you
know. If I didn't get back to you this week, I have forgotten and will
appreciate a gentle knock on the head.

[2015-11-04 15:26] Ch4s3 commented on #30
No worries. I probably won't have the c extension done by the weekend anyway.

[2015-11-04 16:23] MadBomber commented on #58
I just took a dataset of 109,582 English words and trained each work against the category English.  I randomly selected 1,124 of these training words to test with *classify_with_score* keeping each score in an array.  Then I ran descriptive_statistics against that array of scores.  Here is what I got:

[code]
I then took the gibberish word 'hdfiqdof' and got a score of -13.905424385433074.

From t

[2015-11-04 19:10] Ch4s3 commented on #58
@MadBomber that appears to be correct. So there may be a bug with either `classify` or `classify_with_score` per @bararchy's original example.

[2015-11-06 00:22] MadBomber commented on #58
@bararchy I took some time to look at your example in detail.  Here is what I found.  First we have to remember that part of the training and classification process involves the removal of STOPWORDS for the language specified.  The default language is 'en' so in your counter-example "this is not" all three words are stop words.  That makes your text is the same as an empty string.  An empty string

[2015-11-06 01:21] Ch4s3 commented on #58
@MadBomber Great catch, I hadn't considered stop words. Two things come to mind, we should handle strings that are only/mostly stop words, and we should handle scores of 0.0 differently.

[2015-11-06 01:21] Ch4s3 commented on #58
And we need to document that.

[2015-11-24 10:33] bararchy commented on #58
@Ch4s3 @MadBomber

Pinging about this issue :)

Thanks

[2015-11-24 13:54] Ch4s3 commented on #58
I'll put it on my holiday to do list

[2015-11-25 15:19] MadBomber commented on #58
I will also revisit the topic.  A few weeks ago I took a couple of hours to review the sensitivity to training sets exposed in the bayes score.  At that time I could not come up with sufficiently general verbiage to explain what actually goes on in a baysian classification.  The algorithm used in classifier-reborn is very basic.  There is a suitability issue that should be in the docs that describ

[2015-11-26 17:13] jcomello opened #62 "wrong argument type GSL::Vector (expected Data)"
Hi, I'm having problems using classifier-reborn with GSL and Madeleine Gem.

When there is an madelaine's snapshot I have the error as the following gist

https://gist.github.com/jcomello/3595d8e4db753e1dabc4

Is this a classifier-reborn issue or Madeleine's?

[2015-11-26 17:19] jcomello commented on #56
Hi,
I was using Madeleine gem to persist the data. This issue just ocurred when I brought back the data from a madeleine's snapshot.

I solve with that refactor I said before.

[2015-11-26 21:54] Ch4s3 commented on #62
Probably Madeline, which has at this point been abandoned. It's probably best to use Marshal at this point, like in the [example](https://github.com/jekyll/classifier-reborn#usage). If the problem persists with Marshal, let me know.

[2015-11-30 12:37] bararchy commented on #58
@MadBomber  If I use classify_with_score instead of threshold, and the lets say I do

[code]

Then for sure I can just do ```if score > 50 => normal || if score < 50 => not normal```
Right ?
This is the way threshold is kinda working no ?

[2015-12-01 12:56] bararchy commented on #58
So, the more I use classify_with_score the more I see stuff that makes no sense to me.

Example:

[code]

Why is ```get / http/1.2``` less resembles ```get / http/1.2``` then ```get / http/1.?!@?!``` ? this makes no sense to me :/

The only way this makes sense is if the closer to 0 the more likely the string to the trained one.

[2015-12-08 14:49] janorivera opened #63 "Question regarding languages"
Hi
I've seen that the classifier has the fast-stemmer as a dependency right?  I think that this stemmer doesn't support Spanish, would this mean that the classifier would not work properly with documents in Spanish?

What if the text that I pass to the classifier has already been processed by a Spanish stemmer, would that work?

Best
Alejandro

[2015-12-09 01:11] Ch4s3 commented on #63
@janorivera If you look at our stop words, especially [here](https://github.com/jekyll/classifier-reborn/blob/master/data/stopwords/es) you'll see that we do have Spanish stop words.

Look at how the classifier is initialized, English, 'en' is the default.

[code]

Try something like the following:

[code]

Hope this helps!

-Chase

[2015-12-09 01:11] Ch4s3 commented on #63
I'll try to add to the docs soon.

[2015-12-10 19:35] janorivera commented on #63
Hey thanks Chase for the answer!

[2015-12-10 19:35] #63 closed

[2015-12-30 02:04] gilbertwat opened #64 "Zero vectors can not be normalized"
Hi there!

I am using Rake to try to automate my Jekyll blog generation and find such errors. I didn't encounter such when using `jekyll serve --lsi`. Any pointers? :smile:

[code]

[2015-12-30 17:28] parkr commented on #64
Not sure! Do you have any posts which aren't like the others? Perhaps one without any content?

[2015-12-30 17:41] Ch4s3 commented on #64
This is one of those tricky Matrix building errors, I think. Any empty post might cause this.

[2016-01-29 19:30] Ch4s3 commented on #62
@jcomello were you able to resolve this?

[2016-01-29 19:36] Ch4s3 commented on #58
@bararchy My guess is that the stemmer is doing something odd with your input.

[2016-03-10 15:16] bararchy opened #66 "incompatible encoding regexp match (UTF-8 regexp with ASCII-8BIT string)"
This happens to me when I stream data to the Classifier, is there a need to force the encoding on the strings coming into the .train method ?

[2016-03-10 16:59] Ch4s3 commented on #66
Interesting. Maybe? If you want to put in a PR, I'll take a look.

[2016-03-13 13:03] bararchy commented on #66
It seems that using ```.encode(Encoding.find('UTF-8'), {invalid: :replace, undef: :replace, replace: ''})``` on the data before sending it to train method made the problem go away, I think a discussion is needed about if it's the right approach to add this into the GEM it self for all trained data.

[2016-03-14 13:34] Ch4s3 commented on #66
Agreed. @parkr What do you think?

[2016-03-14 13:44] bararchy commented on #66
Btw, it's really easy to recreate the issue:

[code]

[2016-03-14 14:25] #58 closed

[2016-03-14 20:26] parkr commented on #66
I think the user should be responsible for encoding the input properly. We could easily break things if we do it ourselves.

[2016-03-14 21:06] Ch4s3 commented on #66
I agree. I think we should throw a note in the readme. I doubt we'll ever have the resources to properly maintain encoding functionality.

[2016-03-14 21:44] bararchy commented on #66
I think a note in the README specifying that the classifier train method only supports UTF-8 will be great, also, maybe add a check like

[code]

This may help others avoid encoding issues, and let the maintenance be easier

[2016-03-15 13:37] Ch4s3 commented on #66
That seems reasonable.

[2016-03-30 16:58] harlow commented on #48
+1 this would be great addition

[2016-03-30 18:24] harlow opened #67 "Bayes ok for short-form text?"
Forgive me in advance if this is a total noob question.

I've been trying to get Bayes working to categorize job titles. However, i'm running into an issue where the classifier chooses the category with the least training text:

[code]

The classifier is returning `consulting` even though Marketing appears in the title.

[code]

It's possible Bayes it not suited for this type of classification? Ma

[2016-04-07 03:09] Ch4s3 commented on #67
Since Bayes works off of prior probability, you sample size of priors will influence classification. Is this all of the data you're training with?

[2016-04-07 03:36] harlow commented on #67
I have a list of around 150 titles -- Seems that removing the less frequent nodes like "consulting" pushes the match to the next classification w/ least occurrences.

[2016-04-07 13:41] Ch4s3 commented on #67
That sounds like what I would expect. To be super easy to use and generalizable, classifier-reborn takes a somewhat naive approach to bayes, so you might have to experiment to get the best results. I've found through personal use that testing the results and adding more data usually works well.

I'm going to keep this issue open for now, and if you have more issues we'll dig in to see if something

[2016-05-20 14:11] henrebotha opened #69 "LSI is broken af."
I'm on Ruby 2.2.4. I'm trying to use LSI. Nothing works, and the error messages SUCK. I've tried both the last release (i.e. the gem version) and the latest commit from Github.

[code]

[2016-05-20 14:25] Ch4s3 commented on #69
There are some known issues with LSI. Are you using GNU GSL or the native Ruby version? If you're using the native ruby version, it relies on a buggy Ruby implementation of a matrix transform (discussed here #30)  and throws this type of error for some input. If that's the case, using GNU GSL will fix this. If you're using GNU GSL, this will require some digging.

[2016-05-20 14:28] henrebotha commented on #69
You're fast! I am using the native Ruby version. I'll hit up GNU GSL and see what happens.

If I were you I'd mention this in the Readme.

[2016-05-20 14:36] Ch4s3 commented on #69
I happened to be on the issues. Yeah, let me know how GNU GSL works out. I need to rewrite the SVD, but I'm not a great C programmer so the process has been slow to say the least. If you're trying to train with small inputs especially ones that use abbreviations, the matrix transform is highly likely to break in the Ruby only version.

[2016-05-20 14:37] henrebotha commented on #69
While I have you, I'm getting this:

[code]

[2016-05-20 14:50] Ch4s3 commented on #69
Hum, could be related to this https://github.com/SciRuby/rb-gsl/issues/21. I'm investigating.

[2016-05-20 14:51] Ch4s3 commented on #69
Which version of GSL did you pull down?

[2016-05-20 14:55] henrebotha commented on #69
1.16 via homebrew

[2016-05-20 15:25] Ch4s3 commented on #69
1.16 might work, let me try to pull down fresh versions later and try locally.

[2016-05-25 16:12] chris357 commented on #64
Just started playing with this today, and I won't pretend to understand `Vector::ZeroVectorError: Zero vectors can not be normalized` in the context of this gem. But I was able to replicate the issue by editing the Readme example.

**No issue:**
[code]

**Note I'm going to change the first string.**

**No issue:**
["This text deals with dogs.", :dog]

**Still no issue:**
["This text deals.", :dog]

[2016-05-25 17:42] Ch4s3 commented on #64
@chris357 really small inputs without meaningful words i.e. only [stop words](https://en.wikipedia.org/wiki/Stop_words) are known to break LSI. I'm looking into how to handle this more gracefully.

[2016-05-28 23:18] Ch4s3 commented on #69
I haven't gotten anywhere with this, cna anyone else reproduce this?

[2016-05-28 23:21] Ch4s3 commented on #30
So after a few tries, I can't get the c extension right. If anyone else wants to try, I can push up what I tried. Maybe it would make sense to use [Helix](https://github.com/rustbridge/helix) to wrap a rust SVD lib. That way we could distribute the binary and have some minimal guarantees about safety.

[2016-05-30 04:01] marciovicente opened #70 "Marshal data too short"
I've installed all dependencies (rb-gsl, gsl, classifier-reborn) and when I try load the my trained LSI data model i get this error: `Marshal data too short`

So I've checked the model and it's seems ok.

The code below work fine in my personal computer (Mac OS 10.11) but when I'm trying to run it in my webserver (Ubuntu 15.10) this doesn't work. Is there any problem generate this model in an OSX

[2016-05-30 04:26] marciovicente opened #71 "Thoughts about validation"
I'm using this gem and it seems awesome. But I have some questions about validation.

What are you using to check the accuracy of a specific model? I've look through the documentation and don't find anything about validation. So I've thinking it's a great feature implement a module to measure the precision of a specific model.

In my academic work, I create a simple model validator to check the ac

[2016-05-30 16:01] Ch4s3 commented on #71
That seems interesting. I'm not sure I would know how to do that correctly myself, but if you're willing to take a stab at it, I'm happy to answer questions about the code base.

[2016-05-30 16:02] Ch4s3 commented on #70
Hum. This might be an issue with Marshal. Can you post more code/data to reproduce this?

[2016-06-01 13:01] chris357 opened #72 "Functionality to modify stopword lists?"
What is the current recommended practise for modifying stopwords. Just edit the word out of the list?

Currently, `not` is a stopword in English.

But it would be beneficial in my use-cases if `not` was not a stopword. In order to distinguish strings like below.
[code]
In which case `not` might have an impact.

Thoughts?

[2016-06-01 13:55] Ch4s3 commented on #72
Check out this [line, hasher.rb#L27]( https://github.com/jekyll/classifier-reborn/blob/014881c61070cf061e27ec1c94b8444702c59feb/lib/classifier-reborn/extensions/hasher.rb#L27). It defaults to "en", but you can set it to another language. That language file could be english-not or whatever. Right now we don't have great functionality for loading arbitrary  language file. If you wanted to put in a s

[2016-06-03 08:11] #72 closed

[2016-06-05 18:04] fabriziofortino commented on #64
+1 same error here

[2016-06-05 20:26] chris357 opened #74 "Filter out punctuation marks?"
Would you consider a pull request to filter out standalone punctuation marks?

ie: `{:!=>1, :"@"=>1, :"#"=>1, :"$"=>1, :%=>1, :^=>1, :&=>1, :*=>1, :"?"=>1}`

I could filter in my own scripts in advance of training..

But I don't imagine a lot of cases where users would want to train with punctuation. And its probably accidental if it happens.

Thoughts?

[2016-06-05 21:09] Ch4s3 commented on #74
Interesting. The stemmed should do that, but put in a PR and I'll take a look.

[2016-06-06 10:56] chris357 commented on #74
I dug into this a little more and it looks like we're maybe including punctuation by design, with the `word_hash_for_symbols` in `hasher.rb`

**3 lines in `word_hash`:**
1st - Makes hash of qualifying words. Stemming goes here.
2nd - Makes hash of symbols (aka. punctuation)
3rd - Merges `1` and `2` for output

As an acid test, If you comment out `2` and `3`, then it looks like `symbols` are no lon

[2016-07-25 17:50] Ch4s3 commented on #19
I no longer have a use for jRuby support, so unless someone else wants to pick it up I'm closing the  issue.

[2016-07-25 17:50] #19 closed

[2016-07-25 17:50] Ch4s3 commented on #67
Since it has been 3 months, I'm closing the issue pending future issues.

[2016-07-25 17:50] #67 closed

[2016-07-25 17:53] Ch4s3 commented on #53
I'm closing this unless someone else is willing to put in a PR, I'm not sure it is essential to the core of the classifier, but I'm also not opposed to it.

[2016-07-25 17:53] #53 closed

[2016-07-25 17:56] Ch4s3 commented on #74
@chris357 I'd take a look at this if you still want to do it. Although, I'd probably prefer an alternative method that strips punctuation so we don't break anyone's edge case use.

[2016-07-25 17:57] Ch4s3 commented on #71
@marciovicente are you still interested in doing this?

[2016-07-25 17:58] Ch4s3 commented on #70
@marciovicente are you still having this issue?

[2016-07-25 18:15] marciovicente commented on #71
@Ch4s3 I'm sorry. I was very busy in the last month. I have interest in contributing. I already have some code that about this in my personal project and I pretend to move and improve the quality of code, that currently is very poor. ASAP I'll submit a new pull request solving this issue.

[2016-07-25 18:16] marciovicente commented on #70
I don't know exactly what's happened, but this bug doesn't reproduce anymore, so I'll close this issue. Thx!

[2016-07-25 18:16] #70 closed

[2016-07-25 18:43] Ch4s3 commented on #70
Good to hear. I suspect it was an interaction between Marshal and something else on the OS, I could never reproduce it.

[2016-07-25 18:44] Ch4s3 commented on #71
@marciovicente Awesome, there's no huge rush to get it in. I don't have any looming release deadlines so I'll look it over as it comes in.

[2016-07-25 19:49] MadBomber commented on #53
I'm good with just closing it.

[2016-08-11 17:04] ggennrich commented on #48
+1 I would really like this feature as well

[2016-08-12 04:37] tra38 opened #75 "Error when searching for a word that doesn't exist in the corpus"
[code]

I'm assuming that somewhere in the code, we have a "0/0" out there that is being converted into a NaN. This error is avoidable so long as you don't search for terms not specifically within the corpus you're training the LSI on, but...well...what happens if I'm using a very huge corpus? How am I supposed to know what words are (or are not) present?

[2016-08-15 14:50] Ch4s3 commented on #75
This is a known issue when using lsi without [rb-gel](https://github.com/jekyll/classifier-reborn#dependencies). There is a bug in our matrix SVD, that I haven't been able to track down. In the meantime, using rb-gsl should fix the issue.

[2016-08-18 03:37] tra38 commented on #75
I was already using rb-gsl beforehand (which I needed to do since the Ruby's version was so slow). Using binding.pry, I determined that $GSL is set to true after I required the classifier-reborn library, yet I'm still getting the error that I pointed above. I'll see if I can try to debug the issue...

[2016-08-19 01:55] tra38 commented on #75
So here's Day 1 of me trying to solve this problem (and writing down notes so that I remember when I come back to this problem again). When I call ``LSI#search``, I first construct a ContentNode (using my search term). Here's an example of my ContentNode:

[code]
After I did so, I then call ``ContentNode#proximity_norms_for_content``, and *that* method checks the content node's ``@raw_norm``, whic

[2016-08-19 15:31] Ch4s3 commented on #75
same.

Yeah, some form of this problem has been causing issues since the first versions. If you're willing to try and put together a pr with some normalization and NaN handling, that would be amazing!

[2016-08-19 15:33] Ch4s3 commented on #75
I'd be curious to know more about the input that's causing that error.

[2016-09-13 04:09] marciovicente commented on #71
@Ch4s3 Just for keep you updated, I've created the confusion matrix for binary samples.
![image](https://cloud.githubusercontent.com/assets/1021901/18461264/6a978d66-794e-11e6-86be-7c401f8bbfba.png)

I'm working now in precision, recall and F-measure metrics and I hope soon I'll submit a pull request.

[2016-09-15 01:24] tra38 commented on #75
[Here is the source code of the input](https://gist.github.com/tra38/ce16401c11cc109a3c90b166f7377554) that was causing the error.

[2016-09-22 15:04] marciovicente opened #76 "Something seems wrong with bayes classify method"
I'm using classifier to training a specific dataset that contains ~2200 samples, distributed as below:
~1100 of class `p`
~1100 of class `f`
and just 1 of class `m`.

To test step, I'm using 600 samples, where 300 are `f`, 300 are `p` and again just 1 belongs to the class `m`.

The training step is below and the classify step is in https://github.com/marciovicente/classifier-reborn/blob/validate/l

[2016-09-30 03:32] Ch4s3 commented on #76
@marciovicente Sorry for the delayed reply. I'll see if I can reproduce it. What does the structure of `@training` look like?

[2016-09-30 03:44] Ch4s3 commented on #75
@tra38  sorry for the delay.

So I was able to reproduce the issue with the following searches:
[code]
But, `array = lsi.search("we can predict", 9)` works. :(

Maybe we can catch this error, and respond with a sensible message.

[2016-09-30 18:21] marciovicente commented on #76
Basically the training data looks like:
[code]

[2016-10-09 21:02] tra38 commented on #75
[code]

This makes logical sense (for a computer, I mean). Please forgive me if this seems a bit too technical, but I wanted to write the following explanation down to clarify for myself what's going on:

"we" and "can" are stopwords, so obviously the computer will ignore them. "p" *isn't* a stop word, but ClassifierReborn::Hasher.word_hash_for_words only stores words that have more than 2 charact

[2016-11-07 21:33] tra38 commented on #76
Is it possible to upload the dataset being used as well?

I'm able to replicate a scenario with a toy dataset, and I also get odd outcomes:
[code]
...But that happens when the dataset of of T, F, and M sentences are similar to each other, making it easy for false positives and false negatives to occur (computers can make mistakes too, especially when trying to come up with generic probabilities).

[2016-11-29 17:05] Ch4s3 commented on #75
fixed by #77

[2016-11-29 17:05] #75 closed

[2016-11-29 17:06] Ch4s3 commented on #64
fixed by #77

[2016-11-29 17:07] Ch4s3 commented on #69
@henrebotha can you try with the latest master to see if #77 raises an error on your input?

[2016-11-29 17:10] Ch4s3 commented on #66
I made a note in the readme, I'm not sure an error is needed. Im closing this for now.

[2016-11-29 17:10] #66 closed

[2016-11-29 17:12] Ch4s3 commented on #76
@marciovicente If you can share more data, perhaps I can help.

[2016-11-29 17:12] #51 closed

[2016-11-29 17:38] henrebotha commented on #69
That's gonna take some doing. I'll try when I have access to a Mac.

[2016-12-05 17:06] neo-apz opened #78 "Issue with sqrt"
When I execute Jekyll with LSI enabled (using `--lsi`) I run into an error:
[code]

I believe the error occurs in [line 58](https://github.com/jekyll/classifier-reborn/blob/3488245735905187713823ea731fc353634d8763/lib/classifier-reborn/extensions/vector.rb#L58) of `vector.rb`. Apparently, the input number is negative and this causes the error. As also mentioned [here](http://stackoverflow.com/ques

[2016-12-14 15:31] Ch4s3 commented on #78
Interesting in 2 years of this coming up, no one else has ever pointed out `CMath`! Amazing, I had no idea that it existed. This will throw an issue on duplicate documents and on sets of documents with 0 overlap.

Looks like this is the implementation of `CMath.sqrt`

[code]

It seems like this `Complex(0, RealMath.sqrt(-z))` deals with our negative. I'll make a change and we can double check the

[2016-12-14 15:36] Ch4s3 commented on #78
I need to figure out some new tests to cover this, so I'll try to do it tonight.

[2016-12-16 16:36] ibnesayeed opened #81 "Using Redis for the data structure"
I have seen references to Redis in the README for dumping and restoring the complete marshaled snapshot. This, in my opinion, has very little advantage over storing the data in a file.

However, using Redis for storing individual counter objects/hashes (with some name-spacing in place) rather than using raw memory would be a nice feature. Every time a counter needs to be updated for training, it w

[2016-12-17 23:13] Ch4s3 commented on #81
That sounds pretty compelling. I'd be happy to look at a pr.

[2016-12-18 03:35] ibnesayeed commented on #81
I will try to give it a shot. However, looking at the code in `bayes.rb`, I feel that it would be a lot easier and quicker to abstract out the certain portions of `train`, `untrain` and `classifications` methods as separate private methods and conditionally alias them (during initialization) for their corresponding Redis implementations. I earlier proposed overriding `[]` and `[]=` methods, but af

[2016-12-18 04:03] parkr commented on #81
Yeah, one common idiom is to create backends. So you have a MemoryBackend, a RedisBackend, and so forth. They all share a common interface but are separate so you can worry about one at a time.

[2016-12-21 21:11] ibnesayeed opened #82 "ArgumentError: invalid byte sequence in US-ASCII"
When I am running the test, I am getting `invalid byte sequence in US-ASCII` error from the `Hasher` class.

[code]

When I try to interact with it from the IRB console:

[code]

[2016-12-21 22:15] Ch4s3 commented on #82
Very odd, that input should be read in as UTF-8, as we only support that encoding. I'm not sure what the issue is here.

[2016-12-21 22:29] ibnesayeed commented on #82
Here are the complete steps to reproduce it (assuming that Docker is installed on the machine).

[code]

I also tried using `rake` command to test all the cases, but to make it easier to point out where the issue is, I only illustrated the `hasher_test.rb` file. Running the whole test suit also produces a lot of warnings saying (which I think is not an issue):

[code]

[2016-12-22 06:43] ibnesayeed commented on #81
I tried using this backend approach you suggested. Currently, it only supports the Memory backend, but the refactoring I did establishes the foundation and uniform API for other backends. Please find the changes in PR #84. I would really appreciate any code reviews and comments. I would note that I touched some Ruby code after a long time.

[2016-12-23 04:12] ibnesayeed commented on #81
Redis backend implementation is done (except code review and documentation). How about MongoDB, SQLite, MySQL, and/or PostgreSQL backends? Because Redis, though persistent, is still memory based and would require a lot of memory for bigger datasets.

[2016-12-28 15:17] Ch4s3 commented on #81
Hum. I'd say we might want to wait until we have some users that want to use a database backend. We have a pretty small number of contributors, so I don't like to add a lot of things that have to be maintained unless they're going to get used.

[2016-12-30 18:32] #82 closed

[2016-12-30 18:36] Ch4s3 commented on #78
@neo-apz I'm going to try to roll this into the `2.0.5` release, hopefully this weekend.

[2016-12-30 21:47] Ch4s3 commented on #78
Does this capture your error?

[code]

[code]

[2016-12-30 21:57] Ch4s3 commented on #78
Check out my attempt to reproduce it here https://github.com/jekyll/classifier-reborn/compare/cmath?expand=1#diff-7ebb972757ff8fab036080df3fb0c63f

[2016-12-30 22:01] Ch4s3 commented on #74
@chris357 are you still interested in this?

[2016-12-30 22:01] Ch4s3 commented on #76
closing due to inactivity

[2016-12-30 22:01] #76 closed

[2016-12-30 22:02] Ch4s3 commented on #71
@marciovicente ping

[2016-12-30 22:03] Ch4s3 commented on #69
@henrebotha have you tried this yet?

[2016-12-30 22:03] Ch4s3 commented on #62
closing b/c avtivity

[2016-12-30 22:03] #62 closed

[2016-12-30 22:04] Ch4s3 commented on #27
this is related to #30, so I'm closing in favor of #30

[2016-12-30 22:04] #27 closed

[2016-12-30 22:07] Ch4s3 commented on #14
Based on #46 and the need to do the rewrite #30 that may or may not happen, I'm calling this closed.

[2016-12-30 22:07] #14 closed

[2016-12-30 22:08] Ch4s3 commented on #48
@jcomello @ggennrich or @harlow Anyone still interested in this? I'm open to PRs

[2016-12-30 22:09] Ch4s3 commented on #56
Since this was a Madeleine issue, I'm closing it.

[2016-12-30 22:09] #56 closed

[2017-01-02 06:30] Ch4s3 opened #88 "Other classification/nlp tools"
We already do a bag of words, and word counts. Would it be useful to anyone to expose this functionality for other classification uses?

Some other things to consider:
N-grams
Levenshtein distance
Sentiment analysis
Etc

[2017-01-02 17:34] ibnesayeed opened #89 "Unnecessary intermediate variables"
I was casually looking at the code and found a few places where method arguments were assigned to another intermediate variable while there was no need to preserve the original argument.

* [word_list.rb#L16](https://github.com/jekyll/classifier-reborn/blob/aac50ead9f6c86c336031e86e929a16f07548d65/lib/classifier-reborn/lsi/word_list.rb#L16)
* [word_list.rb#L22](https://github.com/jekyll/classifier

[2017-01-03 17:03] chris357 commented on #74
@Ch4s3 yea I'll dig into it this weekend.

[2017-01-03 20:35] #89 closed

[2017-01-03 20:36] Ch4s3 commented on #89
Thanks!

[2017-01-03 20:43] Ch4s3 commented on #74
Awesome!

[2017-01-03 21:05] Ch4s3 commented on #30
May have found a candidate rust lib [here](https://github.com/xasmx/rust-la) and some workable demo code [here](https://github.com/malept/rusty_blank)... It might actually work

[2017-01-03 23:36] marciovicente commented on #71
@Ch4s3 As I've reported in another issue https://github.com/jekyll/classifier-reborn/issues/76 seems there's a problem with the bayes classification.. Unfortunately I can't share my data right now because it's is private. :/

[2017-01-03 23:38] Ch4s3 commented on #71
Ok, keep me updated and I'll try to get to the bottom of it.

[2017-01-06 03:52] ibnesayeed commented on #81
Closing this as this is now implemented by #84.

[2017-01-06 03:52] #81 closed

[2017-01-06 04:04] Ch4s3 commented on #88
@tra38 could you elaborate on which part(s) you're interested in?

[2017-01-06 04:50] ibnesayeed opened #93 "Redis backend for LSI"
We have successfully abstracted datastructure of Bayes which allowed us to implement an alternate Redis storage backend (#81) while making it possible to easily add more backends (such as ORM based). However, I found it little difficult to follow along the flow of the LSI implementation to understand all the datastructures needed for that. Can someone give a high-level overview of datastructures o

[2017-01-06 04:57] tra38 commented on #88
Sure. Since classifier-reborn already collects a bunch of data already, it makes sense to publicly expose the data that "classifier-reborn" gathered, so that a programmer can then feed that data into other gems that handle different classification/nlp tasks.

For example, I've been clustering articles using classifier-reborn and kmeans-clusterer with the following code snippet:

[code]

And obviou

[2017-01-06 05:30] Ch4s3 opened #94 "Remove /bin file cruft"
Does anyone actually use the setup in the files here https://github.com/jekyll/classifier-reborn/tree/master/bin?

They're setup is quite outdated, and I don't know what summarize is. Does anyone use them? If not I'm removing `summarize.rb` and cutting the setup from the other file as part of the path towards `3.0`. Thoughts @parkr?

[2017-01-06 06:01] bararchy commented on #94
Never used them :)

[2017-01-06 06:16] pathawks commented on #94
I was wondering why they were added, so I went looking for that PR. Turns out they have existed since the very first commit of **Classifier**

8cd11c0ef3406a5bb3170de06e8744d75db49931

[2017-01-06 06:22] Ch4s3 commented on #94
Yeah, i think Lucas was using it to provide either some smoke testing functionality, or may have intended to build a command line parser into the thing.

[2017-01-06 06:33] Ch4s3 commented on #93
The LSI functionality/implementation is a pretty tricky to follow. Most of it hasn't been changed since it was first written. I'm not sure I could adequately explain how to go about abstracting the pieces.

[2017-01-06 06:36] Ch4s3 opened #95 "Tests are a bit flaky with the new redis backend"
It looks like the tests are a bit flaky now and seem to hang from time to time.

[2017-01-06 06:37] Ch4s3 commented on #88
@tra38 I think we could expose the lsi data. It'll probably take some careful refactoring, but should be doable.

[2017-01-06 14:50] ibnesayeed commented on #95
I usually test in isolated docker containers and I didn't notice anything unusual, except it is talking longer than memory backend. Additionally, the integration test is taking noticeably longer as it needs to train about 7K instances, classify 1K instances, untrain 2K instances, and classify 1K instances again, both for Memory Redis. If the Redis is not running or cant connect, those tests are sk

[2017-01-06 16:20] Ch4s3 commented on #95
Let try disabling that. If the slower tests are mostly due to the larger test case, I'm fine with that. We aren't running tons of builds back to back, so I think better test quality beats speed here.

[2017-01-06 16:22] Ch4s3 commented on #71
@marciovicente Can you take a look at https://github.com/jekyll/classifier-reborn/pull/92? We added a big test case using real spam filtering data, and we're able to match the expected results. It would be great if we could find cases where we don't perform as well.

[2017-01-06 17:39] ibnesayeed commented on #95
Data size does affect the testing time. I have refactored the code to make it configurable as constants rather than hard coding numbers in the test itself.

TRAINING_SIZE = 4000, TESTING_SIZE = 1000 => About 17 sec.
TRAINING_SIZE = 1000, TESTING_SIZE = 100 => About 4 sec.

[2017-01-06 17:45] ibnesayeed commented on #95
I would much prefer to move the backend initialization and configuration to be run once per test suit rather than for each test case. However, MiniTest does not provide this functionality out of the box. It is possible with [custom runner though](http://stackoverflow.com/questions/6756488/ruby-minitest-suite-or-class-level-setup).

[2017-01-06 17:46] Ch4s3 commented on #95
If you're willing to write a custom runner, I'm open to it. The only reason we use minitest is b/c it was originally done with test unit.

[2017-01-06 18:12] ibnesayeed commented on #95
I am fairly new to actually writing tests, so I will have to understand the dynamics of what is involved and how would that custom runner work. Test unit had various lifecycle callback methods including before and after each test case and suit, but for some reason Minitest decided not to have them available. I initially tried writing an initialize method in my test class, but it turned out that it

[2017-01-06 18:24] Ch4s3 commented on #95
I'll leave this open for now so we can continue to discuss and explore.

[2017-01-06 19:56] ibnesayeed commented on #95
It looks like writing the custom runner will not benefit us in this case. I did some experiments and here are my findings:

* Caching instance variables (such as `@redis_backend` or `@classifier`) that are defined in the `setup` method is not going to help because each test case runs as independent instance with it's own initialization.
* Changing those instance variables to class variables (such

[2017-01-06 20:02] Ch4s3 commented on #95
Excellent profiling. I'd say based on your results, it's safe to close this.

[2017-01-06 20:02] #95 closed

[2017-01-06 20:04] Ch4s3 commented on #69
I intend to close this if there's no more action in the next few days.

[2017-01-06 20:17] ibnesayeed commented on #95
The integration test is where all the time is consumed, here are some starts based on different values of training and testing data sizes (time values are sum of Memory and Redis backends for the same task):

[code]

[code]

[code]

[2017-01-06 20:18] Ch4s3 commented on #95
Cool. Let's keep an eye on it. I think after #97 its pretty good.

[2017-01-06 20:44] ibnesayeed commented on #95
I have added some more data in the previous comment to indicate how much accumulative time the integration test took individually in both the backends. It looks like Memory is about 40 times faster than Redis, but obviously the benefit of Redis is in persistence and collaboration.

[2017-01-06 22:24] Ch4s3 commented on #95
not terribly surprising. We may want to document that.

[2017-01-07 03:15] ibnesayeed commented on #95
With #98 it is not only documented, but reproducible as well. By documenting if you mean we should add it in the README file then yes, we can add a summarized note there.

[2017-01-07 17:22] parkr commented on #94
I think they were previously used for testing. I think they're safe to remove.

I think an executable could be an interesting addition for users of persistent datastores. The new Redis backend, for example, could enable this library to be used against a much larger dataset than can fit in process memory. An executable could be used to train and classify inputs for systems using persistent datastor

[2017-01-07 19:02] Ch4s3 commented on #94
Yeah that would be interesting. I'll make a new issue about investigating that.

[2017-01-07 19:03] Ch4s3 opened #99 "Executable for training with a persistent data store"
Per @parkr's idea it might be useful to have an executable that could be used to train and classify inputs for systems using persistent datastores.

[2017-01-07 19:21] bararchy opened #100 "Port classifier-reborn to Crystal lang"
This is just an idea, would you be OK with trying to port classifier-reborn to [Crystal](https://crystal-lang.org/) ?
I use the Bayes classifier in production setup and would really love to have it available also in Crystal for more heavy lifting and scaling.

[2017-01-07 19:29] Ch4s3 commented on #100
I don't really see a problem with that. @parkr what kind of association would you like to have with any ports? Also does a port have to inherit the LGPL license?

[2017-01-07 19:33] Ch4s3 commented on #95
Yeah, I meant the readme. I plan to restructure the readme to make it a bit more cohesive soon, so any note will work.

[2017-01-07 22:10] ibnesayeed opened #101 "Should we add a Dockerfile for development and testing?"
On my machine I usually prefer not to install a bag full of libraries and run a bunch of processes to facilitate development. This allows me to keep the system clean while I context-switch a lot. For this reason, I have written a simple Dockerfile that packages necessary requirements to work with `classifier-reborn`. It looks something like this:

[code]

Using this file I have built a Docker imag

[2017-01-07 23:05] Ch4s3 commented on #101
This could be useful. It's a bit of a departure from the usual development workflow on the gem, what do you think @parkr?

[2017-01-07 23:21] ibnesayeed commented on #95
I have added brief note about the performance of the Redis backend in PR #103. However, I agree that the README needs some restructure with more headings and sub-headings to reorganize the information that was accumulated over the years.

[2017-01-07 23:23] Ch4s3 commented on #95
Yeah, the readme is a bit of a mess, but shouldn't be too hard to reorganize. I'll probably throw up a quick github page or something similar to help with discovery as well.

[2017-01-07 23:34] ibnesayeed commented on #101
I would note here that I am using Ruby 2.3 because `gsl` gem won't install in Ruby 2.4 due to the Fixnum -> Integer change. They have a merged PR (https://github.com/SciRuby/rb-gsl/pull/42) in the repo, but the gem is not released with the fix yet.

[2017-01-07 23:47] ibnesayeed commented on #101
Are there anything specific that you have in your mind which is not directly available in this workflow? We can perhaps change the default command to watch for file changes and run tests automatically, if that is something desired as the default behavior.

On the other hand, I think it can be very useful if the Dockerfile is added in the repo and a corresponding image is published at [jekyll/class

[2017-01-08 00:09] ibnesayeed commented on #95
This is a rather good idea actually. We can just use the `/docs` folder to keep the static documentation files and configure the repo to [automatically serve static pages from the `/docs` folder of the master branch](https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/#publishing-your-github-pages-site-from-a-docs-folder-on-your-master-branch). This way the documentat

[2017-01-08 00:09] Ch4s3 commented on #95
That sounds good.

[2017-01-08 00:11] Ch4s3 commented on #101
Interesting. Yeah, nothing is missing I just wanted to have parker weigh in on this.

[2017-01-08 00:23] parkr commented on #101
I think you should use whatever tools make it easiest to develop. If you're constantly rebuilding images, then it might be too much friction. If you build the image once and it provides a nice base for cross-platform development, then go for it. Do whatever makes development for you and our contributors easiest! Whatever you choose, don't forget to document it. :smile:

[2017-01-08 00:25] Ch4s3 commented on #101
Alright then, I'll call that consensus! Let's make the docker image available!

[2017-01-08 01:15] ibnesayeed commented on #99
I was thinking about it, but I thought it would be beyond the scope of this gem. Instead a separate repo can be created that uses this gem to facilitate a full blown CLI. Here is how I envision it (assuming that the executable is named `classifier`):

[code]

Further to this, a sub-command `server` can be added to expose these functionalities over HTTP. We can use something like Sinatra for routin

[2017-01-08 02:32] ibnesayeed commented on #101
You asked for #104. Now, go ahead and setup automated builds (if you have write access to https://hub.docker.com/u/jekyll/) with two types, one for the `Branch` and the other for the `Tag`. Leave both types with default configurations.

[2017-01-08 04:10] parkr commented on #99
Start small: a simple CLI that can accept arguments and train/untrain/classify. If you find there is a compelling reason to add a web server, then that can be added later. For now, I'd start small and I'd keep the executable in this repo as it provides no added functionality beyond the library's core functions. Branch out once that PoC is done and it has users.

[2017-01-08 05:04] ibnesayeed commented on #99
Note: I missed some important aspects initially, so now I have updated the proposed CLI/server API.

@parkr, I agree that we can start small and branch off later. However, I was worried that unless we make really toy utility, we will have to use some sophisticated CLI library such as [Thor](https://github.com/erikhuda/thor) that will add unnecessary clutter to this Gem. As far as the server is con

[2017-01-08 17:38] ibnesayeed commented on #101
Now that PR #104 is merged, this issue can be closed after adding the automated builds on DockerHub. Without the availability of the [jekyll/classifier-reborn](https://hub.docker.com/r/jekyll/classifier-reborn/) image the documentation will not be valid.

[2017-01-08 17:52] Ch4s3 commented on #101
Unfortunately I don't have write access there. @parkr do you have access?

[2017-01-08 18:47] ibnesayeed commented on #101
I that is not an individual's account, instead an organization then ideally there should be more than one team members added for ongoing maintenance and to avoid locking out if the owner of the organization is not accessible.

[2017-01-09 00:49] ibnesayeed commented on #101
PR #106 improves the documentation wordings while it assumes no reliance on the automated build located at [jekyll/classifier-reborn](https://hub.docker.com/r/jekyll/classifier-reborn/). However, this will still be a good idea to setup an automated build to create a history of all tagged releases in DockerHub.

[2017-01-09 03:12] marciovicente commented on #71
@Ch4s3 I did create a gist with some samples of my data.. Look at the last line, there's the one record with the class `:m`. Except it, all the lines are either `:f` or `:t`.

https://gist.github.com/marciovicente/f836c302697a786c12bb7721fdd5dd2c

[2017-01-09 20:34] bararchy commented on #100
@parkr ?

[2017-01-09 20:46] parkr commented on #100
Hey! I'm not a lawyer but my understanding is that if you are translating a library to another language then it must retain the same license as the original. It's akin to translating a book: a German translation of Shakespeare is still Shakespeare so you have to abide by copyright provisions for the original work.

[2017-01-09 21:19] bararchy commented on #100
I see, I was planning on MIT lib, but, I guess LGPL is fine too.
Just wanted to make sure you guys are fine with that :)

[2017-01-09 21:35] Ch4s3 commented on #100
Yeah, I'm totally open to it, I'll even try to help if you want.

[2017-01-09 21:50] parkr commented on #100
@bararchy The alternative is to do a "clean room rewrite" where you try to forget how this lib works and implement a clean Bayesian Classifier without looking. This is akin to taking a standardized test where you go to a room you have never been to without any information and answer math problems. That's the "safest" approach, in my understanding.

The LGPL is summarized here: http://choosealicens

[2017-01-09 21:55] bararchy commented on #100
@Ch4s3 thanks :) I would love any help I can get , especially from someone as experienced as you in this field .

@parkr I'll think about it , I really wanted `classifier-reborn.cr` as an homage to your hard work on this. Though even if I'll create a new lib I'll still credit you guys for the idea and inspiration

[2017-01-09 22:58] Ch4s3 commented on #100
You're welcome to do a straight port, but the original license that Lucas setup is LGPL, so if you do a straight port, you also have to use LGPL. Obviously @parkr and I aren't going to be upset about it either way, but we don't want you to accidentally run afoul of the license either, so read up a bit and let us know what you decide to do!

[2017-01-10 02:03] ibnesayeed commented on #100
In some cases I am not even very sure what is licensed really. Especially, when we implement a published algorithm or mathematical model, we often don't have too many choices. For example, if a bunch of people try to implement bubble sort independently, how many different ways they can come up with? The over all algorithm will be the same, perhaps they might differ in indentation or other code sty

[2017-01-10 10:35] Looooong opened #108 "[Request] Add Vietnamese stop words"
Can you add [Vietnamese stop words](https://github.com/stopwords/vietnamese-stopwords/blob/master/vietnamese-stopwords.txt), please?

[2017-01-10 14:13] Ch4s3 commented on #108
I'd be happy to do that later. You're also welcome to put in a pr. You just need to add file called `vi` to `classifier-reborn/tree/master/data/stopwords` and paste in those stop words.

[2017-01-10 19:23] tra38 commented on #100
I am not a lawyer but...

Algorithms can't be copyrighted, but implementations (and derivative works of those implementations) can be. So while the *idea* of a Bayesian classifier cannot be copyrighted, the specific implementation details can be. But if you were to come up with a new implementation independently,without looking at the source code of the existing implementations, then you own the c

[2017-01-10 19:36] ibnesayeed commented on #100
@tra38, thanks for you input. Personally, I also prefer MIT license for the open source software I release as it allows usage of my work in commercial software as well.

[2017-01-10 20:14] Ch4s3 commented on #100
Personally I prefer MIT as well, but neither @parker nor I were here when Lucas chose the license. Like I said, I'm happy to help with an LGPL port.

[2017-01-10 23:08] micmmakarov opened #109 "uninitialized constant ClassifierReborn::BayesRedisBackend"
When trying to connect redis backend.
redis_backend = ClassifierReborn::BayesRedisBackend.new {host: "10.0.1.1", port: 6380, db: 15}

(version 2.1.0)

[2017-01-11 01:05] micmmakarov commented on #109
![image](https://cloud.githubusercontent.com/assets/1222527/21831215/fb72c2e0-d756-11e6-9fb4-c320a3be34b9.png)

[2017-01-11 03:04] #108 closed

[2017-01-11 03:10] Ch4s3 commented on #109
So I should add a note that the readme on master is specific to master, 2.1.0 doesn't include the `BayesRedisBackend`. The readme for 2.1.0 is [here](https://github.com/jekyll/classifier-reborn/tree/v2.1.0). I need to better explain that in the readme. If you want to use the new backend, add `gem 'classifier-reborn', github: 'jekyll/classifier-reborn'` to your gemfile.

Let me know if that fixes t

[2017-01-11 03:14] Ch4s3 commented on #101
@ibnesayeed anything else you'd like to do on this?

[2017-01-11 03:14] #94 closed

[2017-01-11 03:43] ibnesayeed commented on #101
Yes, the automated build please. I know you don't have access to the jekyll DockerHub account/organization, but whoever has it should add the automated build corresponding to this. Although the current documentation does not rely on it, but it will be really nice to have a history of all the released versions automatically being preserved on DockerHub.

[2017-01-11 03:57] Ch4s3 commented on #101
@parkr know anything about the jekyll DockerHub account/organization?

[2017-01-11 05:00] parkr commented on #101
I'm not entirely sure, but my hunch is that we set that up to support jekyll/docker.

[2017-01-11 10:54] Looooong commented on #88
Will there be multiple classification? For example: given an input, classify it into more than one category.

[2017-01-11 13:38] Ch4s3 commented on #88
@Looooong not with bayes, that's not really how it works.

[2017-01-11 15:54] ibnesayeed commented on #101
That sounds right based on the linkage of the repo and available images in the hub. By looking at the repo history, it looks like @envygeeks might have some idea about who has credentials.

On a side note, it seems like the jekyll docker image is not updated in ages. The last time it was updated in the hub was a year ago and no change has happened in the corresponding GitHub repo in last five mont

[2017-01-12 01:35] ibnesayeed commented on #109
This suggests that although the new changes are fully backward compatible, the scope of change warrants a second point release.

[2017-01-12 01:37] Ch4s3 commented on #109
You might be right, I'll look into it a bit more!

[2017-01-12 03:02] envygeeks commented on #101
Jekyll Docker doesn't automate builds through Dockerhub because we use Docker-Template to build complex images that are templated and it is actively maintained, while I can see that you would assume that it's not because Docker's website is generally terrible at showing proper statistics, I can assure you that every time a commit is made to jekyll/docker by an authorized team member it does update

[2017-01-12 03:25] ibnesayeed commented on #101
Thanks @envygeeks for the explanation. I was certainly not aware of the workflow and assumed the standard mechanism used for automatic builds, especially because I guess in the past, that is how it was done as apparent from the [build history](https://hub.docker.com/r/jekyll/jekyll/builds/).

For this repo, we don't want any custom method. It is a simple Dockerfile that does not need any complex s

[2017-01-12 06:04] ibnesayeed commented on #100
A quick question, can we use this library in an application that is released under MIT license?

[2017-01-12 06:12] ibnesayeed opened #114 "License file is truncated"
https://github.com/jekyll/classifier-reborn/blob/master/LICENSE file text is incomplete/cropped. Is it intended? Shouldn't it be an exact copy of https://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt?

[2017-01-12 15:44] parkr commented on #100
Yes, but the source code for it must be open sourced.

[2017-01-12 15:46] Ch4s3 commented on #114
hum... seems like you're right

[2017-01-12 15:51] ibnesayeed commented on #100
A software released under MIT means it is open source. However, that software can internally be used in some closed proprietary software and inherit this library along.

[2017-01-12 15:51] Ch4s3 commented on #78
@ibnesayeed are you able to reproduce this by any chance? I still can't trigger this issue.

[2017-01-12 16:11] ibnesayeed commented on #78
@Ch4s3 I can reproduce the error you got in `test_very_similar_texts`, but can't really think of a way to make a test case to reproduce what OP has mentioned. Perhaps some more insights from @neo-apz about his environment and data would be helpful.

[2017-01-12 16:13] Ch4s3 commented on #78
@ibnesayeed thanks. wanted to make sure I wasn't missing something here.

[2017-01-12 17:51] tra38 commented on #100
I think the library can be used in an application that is released under MIT, but the *library* itself must be released as open source. The actual program itself can be closed-source, though it is dependent on the open-source library.

[2017-01-12 18:09] parkr commented on #100
This is pretty interesting – I don't have a lot of experience with the LGPL.

Quoting from the [gnu.org FAQ](https://www.gnu.org/licenses/gpl-faq.en.html#LGPLStaticVsDynamic):

The first means the library must be interchangeable – if I don't want to use the Crystal version of classifier-reborn that you write, I should be able to modify any source required to use a different version. This *appears*

[2017-01-13 02:51] envygeeks commented on #101
Is @parkr and @mattr- fine with this?

[2017-01-13 02:53] envygeeks commented on #101
More importantly than that is @Ch4s3 fine with maintaining the image?

[2017-01-13 02:55] ibnesayeed commented on #101
As per @Ch4s3 [above](https://github.com/jekyll/classifier-reborn/issues/101#issuecomment-271120099):

[2017-01-13 02:57] envygeeks commented on #101
Well, once @parkr or @mattr- give the go ahead I'll create it for ya'll unless he wants to.

[2017-01-13 02:59] ibnesayeed commented on #101
If you read messages above, @parkr is not against it. However, I haven't seen @mattr- commenting in this matter.

[2017-01-13 03:13] envygeeks commented on #101
I need explicit permission directly from @parkr regardless, sorry.

[2017-01-13 03:22] ibnesayeed commented on #101
That's perfectly fine. Please follow your protocol as set by the organization. I am not in hurry and this is not stopping me from doing anything. I just thought it would be a good to have thing for the reasons described above.

[2017-01-13 04:03] parkr commented on #101
:+1: from me!

[2017-01-13 16:27] #114 closed

[2017-01-14 03:17] ibnesayeed opened #123 "Remove enable_threshold config from Bayes classifier"
Currently, the `threshold` option of the `Bayes` classifier only makes sense if the `enable_threshold` option is also set to `true` (at initialization or later dynamically). This tight interdependence makes me think that the threshold enabler flag is an overhead. However, by making the default value of the `threshold` property as `Float::INFINITY` we can cleverly get rid of the `enable_threshold`

[2017-01-14 03:22] ibnesayeed commented on #123
I will add #47 here for reference.

[2017-01-14 03:55] ibnesayeed opened #124 "Enable auto_categorize if no initial categories are passed"
I would personally like auto-categorization as the default and preferably the only behavior. This would simplify the API and code base. However, that would be a drastically breaking change. And I do feel that there might be cases where a user might want to limit the categories to a known set. So, I am not suggesting this.

I am  suggesting that while keeping the current behavior we add the conditi

[2017-01-14 04:33] ibnesayeed opened #125 "Custom stopwords file during classifier initialization"
Currently, the library ships with a list of stopwords in various languages. PR #73 adds the ability to specify more directories to look for stopwords. This means one can only add more stopwords, but can't overwrite it, except. perhaps by setting the value of `Hasher.STOPWORDS`. However, a stopwords list does not suit in all situations, for sepcial purpose collections stopwords are differnt in the

[2017-01-14 16:19] Ch4s3 commented on #125
I could probably make that happen! I'll take a look tomorrow!

[2017-01-14 16:29] Ch4s3 commented on #123
Yeah, I remember #47 pretty well. I agree that it's a bit broken, but I'd like to fix it rather than removing it. Perhaps we can fix it for 3.0, and make the `false` flag work correctly.

Looking at this line:
`result = nil if score < @threshold || score == Float::INFINITY if threshold_enabled?`

I feel like we do need a fix. I'm not opposed to cleaning up the API though.

[2017-01-14 16:34] Ch4s3 commented on #124
This would definitely break my usage.  :(

I'm not sure I want to make it the default either, as that is a bit of a departure from what's been don since the initial commit.

I am however open to other options for making this part of the api more intuitive. What do you think @ibnesayeed?

[2017-01-14 16:48] ibnesayeed commented on #123
I think you can add a label like `3.x` so that we can re surface it when the times comes.

I issue I described, if it is fixed then I think `enable_threshold` will become completely irrelevant that can be achieved by setting the default `threshold` to `Infinity`. However, for the sake of backward compatibility, we can perhaps keep it for `2.x`.

[2017-01-14 16:51] Ch4s3 commented on #123
Agreed. Let's discuss this further once we make plans for 3.0

[2017-01-14 17:00] ibnesayeed commented on #124
That's why it was not my suggestion, just a wish.

The suggestion here is just to set `auto_categorize` to `true` when no categories are passed at initialization and the flag is not explicitly set to false. Otherwise when one or more initial categories are supplied it should just behave the way it does right now.

Basically, if the categories are not known in advance or if I want to keep my classi

[2017-01-14 17:30] ibnesayeed opened #126 "Moving implementation details to private methods"
I am not pointing to anything specific, but perhaps we can revisit the API for `3.x` and move any implementation details to private methods. Currently only `LSI` class has three private methods and everything else is open.

[2017-01-14 23:44] ibnesayeed opened #127 "More elaborated documentation"
Now that we have [a separate documentation site](http://www.classifier-reborn.com/) and the README is slimmed down (#121), we need more elaborated illustrations and examples of various aspects of the library on the documentation site. Additionally, we need to make the language and the story of the documentation coherent.

[2017-01-15 00:20] ibnesayeed commented on #124
PR #128 is safe to merge because it introduces sensible convenience without breaking the backward compatibility.

Because it only taps into the condition when initial categories were empty and `auto_categorize` flag was not explicitly passed, which was useless situation before so no one would be using in any existing application. Every other condition should behave the same as before.

We do need

[2017-01-15 01:18] ibnesayeed commented on #125
PR #129 should take care of it. However, we need code review and some test cases before we merge it.

[2017-01-15 03:10] ibnesayeed commented on #124
Added necessary test cases to cover various possibilities that were not covered already. So, I think it is safe to merge now.

[2017-01-15 03:52] ibnesayeed commented on #88
You can get the raw score of each category against a given text in Bayes. This way you can decide to get top-K relevant categories, if that is what you are after.

[2017-01-15 03:55] ibnesayeed commented on #88
Should we also consider adding [ruby-fann](https://github.com/tangledpath/ruby-fann) (Fast Artificial Neural Network). It wont be good for text data I guess, but for numeric stuff it would be great.

[2017-01-15 04:06] ibnesayeed opened #130 "How should the classifier behave against empty strings?"
Currently the Bayes classifier allows passing empty string for all training, untraining, and classification. Also, the strings that have nothing, but stopwords behave the same way. This means, we are essentially messing up with training count while no real training is happening.

I think, we should check the length of `word_hash` and if it is zero then we should just skip the training and untraing

[2017-01-15 04:20] ibnesayeed commented on #130
Another weirdness could happen when untrain is called more often than train for a category. Some counts will be negative. `category_has_trainings?` in this case returns false, but actual counts are still negative and they are not frozen at zero. Additionally, the `total_trainings` can also go negative. The scores will me messed up in either case.

[2017-01-15 08:34] Looooong commented on #88
@ibnesayeed Yes, I am planning to make multiple score with Bayes, but I guess it will take up a big amount of storage space.

[2017-01-15 10:12] danielpclark commented on #30
@Ch4s3 Hey, I love that you brought Rust in on this.  I'd like to provide some resources that may be helpful in getting this done.  I'm the author of [faster_path](https://github.com/danielpclark/faster_path) which rewrites Ruby's Pathname library in Rust for improving the performance of Rails of 30%+

I see you're using Thermite.  That's next on my agenda for faster_path as it will allow binary b

[2017-01-15 14:25] ibnesayeed commented on #88
@Looooong it really depends on the amount of training data. Between Bayes and LSI the first one would take relatively less space. If you have huge amount of data then here are a few things you can do:

* Use the newly introduced Redis backend for storage, which would still take the required amount of memory, but it can be off-loaded to a remote machine that has high memory. Additionally, it will p

[2017-01-16 05:19] ibnesayeed commented on #71
I am glad that I saw this ticket. I was thinking about validation for last few weeks. In fact I wrote some code to get the `confusion matrix` when I wrote the integration test with real dataset #92. But, I was not very sure where that could reside and what exactly one would want to validate? For example;

1. User might want to compare more than one classifiers to see how each of them perform in te

[2017-01-16 17:38] ibnesayeed opened #131 "Ability to specify custom tokenizer"
Currently, the following code is used to split the document in tokens/words for training and classification.

[code]

This covers general case, but there could be situations where the user might want to customize the way document is split into words. For example, [tokenizing Japanese text](https://github.com/6/tiny_segmenter) could be a whole different thing. Another situation where a custom token

[2017-01-17 04:10] tra38 commented on #127
When I get time, I could expand on the LSI section.

[2017-01-17 15:30] #124 closed

[2017-01-17 15:35] Ch4s3 commented on #131
I was thinking about adding ngram support as well. I want to do this by abstracting out tokenizing to a separate public api that can get either called by the classifier, or passed in. I'm not sure which approach would be better.

[2017-01-17 15:36] Ch4s3 commented on #130
Yeah, this has been sort of a longstanding issue. I'm not sure what the best way to handle empty string would be.

[2017-01-17 15:39] Ch4s3 commented on #71
I think the last approach seems to be the best.

[2017-01-17 15:43] ibnesayeed commented on #71
I will send a PR later this week then.

[2017-01-17 15:46] ibnesayeed commented on #131
Would the dependency injection be a good idea where we create a an instance of the tokenizer and then pass it during the initialization of the classifier, the way we do for the storage backend support.

[2017-01-17 15:51] ibnesayeed commented on #131
In the first post what i described was n-gram based on words, which are also called shingles. However, one can also use letter-based n-grams that are often produce good results while putting a finite upper bound on total memory used (as the maximum possible number of keys would be the number of possible letters raised to the power length of the n-gram), and could be ideal for large collection trai

[2017-01-17 15:54] ibnesayeed commented on #130
I have given my recommendation already in the second paragraph of the first post. Without this being resolved, writing tests for #129 would be tricky.

[2017-01-17 15:59] Ch4s3 commented on #130
Ahh sorry, I think I skimmed this one on my phone. Yeah, a length check is probably the right way to go. I wonder if we should log anything out if a user does that.

[2017-01-17 16:06] ibnesayeed commented on #130
Logging is fine, but it should be an information level logging, not a warning or error. Because due to stopword filtering it might get empty unintentionally/unknowingly.

[2017-01-17 16:06] Ch4s3 commented on #130
It occurs to me that `text.length == 0` fails for input like `"     "`

[2017-01-17 16:09] ibnesayeed commented on #130
In what context? In general Ruby code `" ".length => 1` would be the case.

[2017-01-17 16:12] Ch4s3 commented on #130
That's what I mean. the string `" "` is empty, but has a length greater than 0.

Now, this is only an issue if we check for string emptiness before calling the `Hasher` to get the word hash, which probably makes sense in most cases you wouldn't want to execute any of that code on an empty string. This still leaves the issue of what to do about text that only has stopwords and the `word_hash` retur

[2017-01-17 16:21] ibnesayeed commented on #130
I would just check the length of `word_hash` which would be empty whether a blank string `""` was called, something containing only non-letters was called such as `" "` or `"...? " etc., or only stopwords were passed such as `to be or not to be`. In all the cases the returned `word_hash` would be empty.

[2017-01-17 16:23] Ch4s3 commented on #130
Yeah, I guess I was just thinking of a case where you're iteratively training over a large csv or something and it hits a bunch of blank data and wastes time trying to hash that stuff. But your solution is a lot simpler, so let's do that. I may also add a simple `return if text.length == 0` check to the train and untrain methods as well.

[2017-01-17 16:25] ibnesayeed commented on #130
We can check the emptiness of the supplied string before calling the `Hasher`, to avoid unnecessary call to the stack of methods in `Hasher`, but this would be a micro-optimization, because in many practical applications, empty strings wont be passed, so checking for emptiness just to avoid `Hasher` call will perhaps cost more when accumulated for all the number of attempts that are not empty.

[2017-01-17 16:28] Ch4s3 commented on #130
Does #132 solve this in a way that facilitates testing on #125?

[2017-01-17 16:30] ibnesayeed commented on #130
Also, making such decisions should be done in the done in `Hasher` (if at all), not in the main classifier methods like `train`, `untrain`, or `classify`. The rationale here is that if we allow support for custom tokenizer, then this early decision making will come into it's way. A custom tokenizer might want to preserve the leading and/or trailing spaces (so is the case with letter based n-grams)

[2017-01-17 16:32] Ch4s3 commented on #71
awesome thanks @ibnesayeed!

[2017-01-17 17:01] ibnesayeed commented on #130
Added some inline reviews and more comments in the PR.

[2017-01-17 20:18] Ch4s3 commented on #130
closed by #132

[2017-01-17 20:18] #130 closed

[2017-01-17 22:35] Ch4s3 commented on #88
Since `Hasher` is basically a bag of words implementation, it might make sense to rename it as such and make it public and document it as such. Thoughts? @ibnesayeed?

[2017-01-18 01:03] #125 closed

[2017-01-18 01:46] ibnesayeed commented on #88
I agree. However, I would note one thing here that I encountered today while writing tests for stopwords. This needs to be instantiated and used as dependency injection during classifier initialization so that one classifier does not step over on the other's state due to the shared data. Currently, if in a single program, two classifiers are instantiated with different configuration, and one of th

[2017-01-18 02:12] ibnesayeed opened #135 "auto_categorize and method_missing"
The magic train and untrain methods based on `method_missing` only work if the category already exists. This raises error if the `auto_categorization` is on and the category in question is a new one.

[2017-01-18 03:20] Ch4s3 commented on #135
That is not surprising at all. Frankly, I don't like the magic methods but a lot of people complained when I proposed deprecating them. We should probably add some sensible behavior in this case.

[2017-01-18 03:24] Ch4s3 commented on #88
Yeah I noticed that. I think DI is the way to go then.

[2017-01-18 03:31] ibnesayeed commented on #135
I don't like it either. It simply adds more burden for documentation and not very useful when training model from a script (why would one bother to concatenate strings to make the method name).

I see two ways to go forward; 1) make adjustments so that it behave as expected when auto-categorization is on or 2) keep it the way it is for backwards compatibility, but do not document it so that new pe

[2017-01-18 03:34] ibnesayeed commented on #88
In fact I had many other test cases in mind around stopwords that I could not put in place because they were seemingly very difficult (if not impossible). Similarly, some test cases could have been put together as part of assertions, but I had to separate them and duplicate most of the logic because of this stepping over behavior.

[2017-01-18 03:39] Ch4s3 commented on #135
My plan going in was to create a category on the fly, but after looking at [this](https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/bayes.rb#L209) I realized that if I do that, you could easily end up with a misspelled category by mistake. I think the thing to do is to remove it from the docs and add a deprecation warning. Then remove it in `3.0`.

[2017-01-18 03:47] ibnesayeed commented on #135
When we update the documentation, we can also change the tests to not use these deprecated methods, except for the case where we add a test to check if deprecation warning is shown.

[2017-01-18 03:47] Ch4s3 commented on #135
In progress

[2017-01-18 04:03] ibnesayeed opened #136 "Looks like we have classifier-reborn.com now"
@Ch4s3 looks like you were trying to put a CNAME file (that was the old way). Now, you can simply specify CNAME record in the settings. However, I think there is some issue currently as the we are hitting a 404 page when going to http://classifier-reborn.com/. I feel like it is pointing to http://jekyll.github.io/ rather than http://jekyll.github.io/classifier-reborn/.

[2017-01-18 04:04] Ch4s3 commented on #135
wow... they return different things...
[code]

I think the latter is the correct behavior.

[2017-01-18 04:11] ibnesayeed commented on #135
Well, that's the consequence of Ruby returning the last evaluated expression. None of those two returned values are any useful or representative of anything significant in my opinion.

[2017-01-18 04:19] Ch4s3 commented on #135
I agree that the returns aren't particularly useful, but we shouldn't have 2 functionally equivalent functions that return different things.

[2017-01-18 04:20] Ch4s3 commented on #136
Yeah, I'll have to try again tomorrow. I mess it up the first time.

[2017-01-18 04:44] ibnesayeed commented on #135
In case of pure function, this would have been an essential requirement. Additionally, it would have been important in case where the return value was used to predict the behavior of the method when called. However, I wont be too religious about a method who's sole job is to change the state of the object.

Having said that, it occurs to me that we can actually return something meaningful from the

[2017-01-18 05:08] ibnesayeed commented on #135
PR #137 should do the trick of what I explained in the last comment.

[2017-01-18 18:39] ibnesayeed commented on #136
I would note here that if we don't want to give it the Jekyll branding, then it will only be appropriate to have a different favicon as well. Having said that, I am not very good at graphics so you might be able to ask someone from the design team of Jekyll to make one for the Classifier Reborn. If we become greedy, we can also ask for a logo along with the favicon.

[2017-01-18 18:42] Ch4s3 commented on #136
I'll try to handle the logo/favicon bit in the near future.

With respect to the CNAME file, it was auto generated by github I didn't add it. Yeah I tried to point http://classifier-reborn.com/ to http://jekyll.github.io/classifier-reborn/. but the dns rejected it. The github docs seemed to suggest that github would route the request appropriately if I pointed to http://jekyll.github.io/, but it d

[2017-01-18 18:50] ibnesayeed commented on #136
In DNS records paths or protocols are not used. Project specific routing is done by GitHub internally. I am not sure why it is not working for you though. I will try something on my repos and will let you know.

[2017-01-18 18:55] Ch4s3 commented on #136
Ok, I'll poke around too
On Wed, Jan 18, 2017 at 1:50 PM Sawood Alam <notifications@github.com>
wrote:

[2017-01-18 19:00] ibnesayeed commented on #136
I was able to do it really easily. Have a look at http://classifier.metaspiders.com/

[2017-01-18 19:01] Ch4s3 commented on #136
Huh. Wonder what I'm missing. Which dns do you use?
On Wed, Jan 18, 2017 at 2:00 PM Sawood Alam <notifications@github.com>
wrote:

[2017-01-18 19:06] ibnesayeed commented on #136
Since I am using a custom subdomain, I used CNAME record in my Google Domains:

classifier => ibnesayeed.github.io.

Then I added `classifier.metaspiders.com` in my repo settings. It was up instantly.

[2017-01-18 19:08] Ch4s3 commented on #136
I'll try that again. Did you need to se the ip in an A record?
On Wed, Jan 18, 2017 at 2:06 PM Sawood Alam <notifications@github.com>
wrote:

[2017-01-18 19:17] ibnesayeed commented on #136
`A` record always needs an IP, but an `A` record is only a necessity if one tries to add Apex domain (or bare domain) and the DNS provider does not have support for `ALIAS` or `ANAME` records.

I think you can do the following in your DNS config:

[code]

Then add `classifier-reborn.com` or `www.classifier-reborn.com` in the project's settings. I would prefer latter with `www`. This way requests w

[2017-01-18 19:19] ibnesayeed commented on #136
No, I only added a `CNAME` record as I was only setting it up for a specific sub-domain.

[2017-01-18 20:28] Ch4s3 commented on #136
odd, it worked this time with the exact same zone file ¯\_(ツ)_/¯

[2017-01-18 20:31] #135 closed

[2017-01-18 20:31] Ch4s3 commented on #109
I'm going to do a `2.2.0` release soon

[2017-01-18 20:31] #109 closed

[2017-01-18 20:31] ibnesayeed commented on #136
Cool!

[2017-01-18 20:47] ibnesayeed commented on #109
I would suggest to wait until documentation and tests are corrected to not use the magic `method_missing` style stuff and a deprecation warning is added.

[2017-01-18 20:48] Ch4s3 commented on #109
That was the plan
On Wed, Jan 18, 2017 at 3:47 PM Sawood Alam <notifications@github.com>
wrote:

[2017-01-18 20:52] ibnesayeed opened #140 "Deprecate magic train untrain methods"
Before releasing `2.2.0` magical `train_*` and `untrain_*` style methods should be deprecated.

* [ ] Add deprecation warning
* [ ] Add tests to not use these methods
* [ ] Update documentation to not use these methods

[2017-01-18 20:53] ibnesayeed commented on #109
Created a ticket #140 to keep track of that.

[2017-01-18 20:56] ibnesayeed commented on #140
It would also be good to have the official development Docker image available (#101) before the release of `2.2.0` so that it can be documented and advertised with this rather significant release.

[2017-01-18 20:58] ibnesayeed commented on #140
Perhaps we can also include basic validation #71 as part of `2.2.0` release.

[2017-01-18 21:03] Ch4s3 commented on #140
Sounds good. I have a working branch for the first two items. I'll push it up later.

[2017-01-18 21:04] ibnesayeed commented on #140
I can take care of the documentation, later tonight.

[2017-01-19 00:07] ibnesayeed commented on #140
PR #141 takes care of the documentation.

[2017-01-19 12:53] timcraft commented on #69
@Ch4s3 @henrebotha I'm seeing the same issue with my data and can reproduce with this script:

[code]

Using GNU GSL, tried upgrading from 2.2.1 to 2.3 and that didn't fix it.

Related to [this TODO](https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/lsi.rb#L306) in lsi.rb?

[2017-01-19 14:26] marciovicente commented on #71
Ow! Nice job! @ibnesayeed 👏

[2017-01-20 07:46] ibnesayeed commented on #71
Thanks @marciovicente, I would appreciate if you could have a look at #142 and provide feedback on what else can possibly be done beyond what is implemented and planned so far.

[2017-01-21 22:07] ibnesayeed commented on #140
@Ch4s3 a note for you. I have seen `test_external_classifying` of `lsi_test.rb` using magic methods. Just make sure to take care of all the places where Bayes is being called with magic methods.

[2017-01-21 22:16] Ch4s3 commented on #140
Yeah, that's on the list. I'll try to devote some time to this tomorrow or Monday.

[2017-01-21 22:48] ibnesayeed opened #144 "Making LSI evaluatable"
As per the #142 implementation, in order to evaluate a classifier, the classifier instance needs to support a uniform interface of `train`, `classify`, `categories` and `reset` methods. I have recently added `reset` functionality to all classifiers #143 as it could be useful even when not evaluated.

Is it OK if I add `train`, `classify`, `categories`, and perhaps `untrain` method as well in the L

[2017-01-23 04:30] Ch4s3 commented on #144
Yeah that should be fine

[2017-01-23 15:38] ibnesayeed commented on #144
We will take care of it in a separate PR once #142 and #143 are merged.

[2017-02-08 20:25] Ch4s3 commented on #144
You should be good to go now. Sorry to keep you waiting.

[2017-02-08 20:26] Ch4s3 commented on #140
I'll try to get back to this asap

[2017-02-08 20:26] #136 closed

[2017-02-08 20:27] Ch4s3 commented on #131
Yeah, I think dependency injection is the way to go here.

[2017-02-08 20:29] Ch4s3 commented on #126
Yeah, let's start figuring out what needs to be private for 3.0, this will make documentation and maintenance a lot easier.

[2017-02-08 20:29] Ch4s3 commented on #101
@envygeeks any news?

[2017-02-08 20:58] envygeeks commented on #101
I'll get it setup tonight, it's on my todo for today after I get some other high-priority stuff done.

[2017-02-09 18:14] Ch4s3 commented on #101
thanks

[2017-02-09 19:53] envygeeks commented on #101
That reminds me, @parkr want's this put into the Docker repository, can you ship the pull there that way we can have that build server handle it? You can add a simple Dockerfile with an opts.yml file and (if you want even base it off of our Jekyll) image.

[2017-02-09 20:19] ibnesayeed commented on #101
Docker images should be as self-contained with the least dependencies as possible. Basing it on Jekyll image will bring nothing except complications and unnecessarily increased image size. Additionally, adding another intermediate build server will introduce yet another layer of indirection which will cause yet another point of failure and should be avoided unless it has some real advantage.

In m

[2017-02-09 20:31] envygeeks commented on #101
Parker made the decision and superficial arguments and invalid claims will not change that unless he makes the decision.  And if it's going into my repository it will follow the laws of the land, like Europe, doesn't matter what country you are in, the laws of that country apply.

[2017-02-09 20:59] ibnesayeed opened #148 "Ruby 2.4 in the Dockerfile"
[Ruby GSL gem now supports Ruby 2.4](https://github.com/SciRuby/rb-gsl/releases/tag/v2.1.0.2), so it should be safe to update the Dockerfile.

I can take care of it, but leaving this ticket here so that we don't forget.

[2017-02-09 21:24] ibnesayeed commented on #101
Sir @envygeeks, you made it very interesting. I thought I was contributing to the project not just by writing code, tests, and introducing new capabilities, but also by sharing my opinion and thoughts via healthy comments. However, you sound like I am stepping into your and/or Jekyll's land to impose my "superficial arguments and invalid claims". That said, now, for the sake of gaining knowledge a

[2017-02-09 21:41] envygeeks commented on #101
You are in no way being constructive at this point, our communications are being disconnected, I wish you the best but I will not be assisting you further, another member of Jekyll can deal with it from here on out.

[2017-02-09 21:44] parkr commented on #101
I guess I run a tighter ship than I thought! I didn't mean for my decision to cause any sort of miscommunication or escalation of tensions here. My decisions are not like laws, and I am more than happy to listen to counter arguments. Ultimately, we should do whatever is best for the project.

My suggestion was only to keep everything in the `jekyll/docker` repo because there is already tooling set

[2017-02-09 22:42] Ch4s3 commented on #101
Oh man... I'm totally cool with whatever everyone else wants to do here. If we can set up something sensible under `jekyll/docker` that's great, but if we need something more specific I'm open to that as well. Do you have further input @ibnesayeed and @parkr?

[2017-02-09 22:45] ibnesayeed commented on #101
Such miscommunication is inevitable when managing a team internally while also dealing with an open community at large. It became frustrating to me that for last several weeks we are saying similar things repeatedly and in return getting arguments with no action plan. I would be totally cool with whatever decisions are made (even if it is to abandon the feature), but it should not go into void, th

[2017-02-09 22:57] ibnesayeed commented on #101
I am totally fine if it is added under `jekyll/docker` if that helps better manage images, except, I am not aware of the build process of that repo and what all it does, so can't speak much about that. As far as my thoughts are concerned, I have just elaborated them in the previous comment. Again, I totally understand that there could be other good reasons from the organizational or management per

[2017-02-09 22:59] envygeeks commented on #101
For somebody who claims to know nothing about `jekyll/docker` you sure did make a lot of assertions about it and it's image earlier and then got cheeky when I called that out.  The irony is thick here.

[2017-02-09 23:06] ibnesayeed commented on #101
I am really sorry for being sarcastic and getting cheeky, and I mean it. I hope you will forgive me for that and help the project in the best way possible. Thanks!

[2017-02-10 14:46] Ch4s3 commented on #101
If rolling it into `jekyll/docker` simplifies things, then let's do that for now.

[2017-02-10 16:17] ibnesayeed commented on #101
My suggestion would be to keep this Dockerfile in this repo that would make it easier to build images locally while developing. Notice that this Dockerfile is tailored towards development environment and [documented](http://www.classifier-reborn.com/development) accordingly. I don't see any usefulness of a production oriented image just yet, until we start shipping a binary with CLI or server impl

[2017-02-10 17:04] parkr commented on #101
For a development image, add a `Dockerfile` to this repository. I think we misunderstood the intent. Production images should go to `jekyll/docker`.

As for automatic building, if it's for development, let's keep the process super simple and strike the automatic building. Instead, provide a `script/build` or `script/docker` script which builds the image and runs a container with a common entrypoin

[2017-02-11 15:10] ibnesayeed commented on #101
That is already there. We have added it a while ago.

The title of this request talks about development and testing environments. As long as it remain a library and not a stand-alone application, what would a production image even be or do?

I was advocating automated builds because it would bring more visibility to the project and more importantly it will have an archive of the development enviro

[2017-02-12 08:29] bararchy commented on #100
Closing as a project already began implementing a Classifier in Crystal here: https://github.com/mathieulaporte/machine

If anyone is interesting in contributing , it's MIT licensed and accepting PRs :)

[2017-02-12 08:29] #100 closed

[2017-02-15 16:44] #148 closed

[2017-02-15 16:47] Ch4s3 commented on #101
If everyone is satisfied, I'm closing this for now.

[2017-02-15 16:47] #101 closed

[2017-02-15 17:42] ibnesayeed commented on #71
@marciovicente would you like to have a look at the [validation documentation](http://www.classifier-reborn.com/validation) and provide any feedback.

@Ch4s3 if the documentation is satisfactory then this issue can be closed.

[2017-02-15 17:53] ibnesayeed opened #151 "Implement stratified k-fold cross-validation"
Current k-fold cross-validation assumes that the supplied sample data is uniformly randomized, hence, performs simple slicing of the array for individual folds. We should partition the data in a way that the proportion of various classes are maintained in each fold. This can be the default or the only option or partition or alternatively an optional boolean parameter can be provided for stratifica

[2017-02-15 20:01] envygeeks commented on #101
Just wanted to chime in and say this is done through Git already, all Jekyll projects git tag releases.

[2017-02-15 20:05] ibnesayeed commented on #101
That's roughly what I meant when I said:

[2017-02-15 21:28] envygeeks commented on #101
Ah yes, I should have kept reading, I tend to quote early.

[2017-02-21 17:53] tra38 opened #152 "Classifier-Reborn crashes when summarizing one-sentence articles"
I have been using classifier-reborn to come up with headlines for computer-generated articles. The problem is that I don't get to decide how many sentences exist within a computer-generated article,  so you have this weird edge case...

[code]

[2017-02-22 16:06] Ch4s3 commented on #152
Yeah, the LSI isn't really setup for 1 sentence input. We can dig in at some point, but it might make sense to check the input first.

[2017-02-22 16:06] Ch4s3 commented on #151
I'm open to this, but wouldn't know how to do it.

[2017-02-22 16:19] Ch4s3 commented on #71
thanks @ibnesayeed

[2017-02-22 16:19] #71 closed

[2017-02-27 23:45] ibnesayeed commented on #151
To enforce this, we will have to first prepare buckets of each class from the supplied sample set and then partition each subset into `k` equal parts. Finally, pick one chunk from each subset to make data for each of the `k` sets. It is not difficult to do. I can take care of it when I get a chance to play with the code again. However, for now we are shuffling the sample data before splitting, whi

[2017-02-28 02:40] hakehuang opened #153 "the lsi meets `sqrt': Numerical argument is out of domain - "sqrt" (Math::DomainError)"
below is my scripts

[code]
trace log
[code]

I find the issue can be fixed with below change, please help to review

[https://github.com/jekyll/classifier-reborn/pull/154](https://github.com/jekyll/classifier-reborn/pull/154 )

[2017-02-28 16:04] tra38 commented on #153
The code could fix this specific issue (I haven't checked to be sure), but would break other code. That line was used to filter out words that have 2 or fewer characters...and while I'm not quite sure *why* it does this filtering, I'm afraid that the LSI might fail horribly when handling very small words. Current automated tests are failing since they are dependent on the current filtering behavio

[2017-02-28 17:05] Ch4s3 commented on #153
The LSI will in fact fail horribly with a NaN/NaN error if you remove this filter.

[2017-03-01 05:15] hakehuang commented on #153
can you give me some test examples? @Ch4s3 . I have fixed the unit test issues. the 1 byte judgement is a real user case in my application, and I believe this requirement is universal

[2017-03-01 15:22] Ch4s3 commented on #153
let me take a look tonight

[2017-03-01 19:39] AlexDWu opened #155 "BayesRedisBackend is undefined?"
I'm getting an error saying BayesRedisBackend is undefined for revision 5ac466b271612c7681d4a9ef3242ad20be0e998d.

[2017-03-01 19:43] AlexDWu commented on #155
for reference this is the script I'm running
[code]

[2017-03-01 19:51] AlexDWu commented on #155
Looks like it was removed from bayes.rb. Was there a reason why?

[2017-03-01 19:53] AlexDWu commented on #155
It was removed in the last commit 7389be531a6251245129229d46555edf31137100

[2017-03-01 20:27] AlexDWu commented on #155
found the pr about it https://github.com/jekyll/classifier-reborn/pull/146

[2017-03-01 21:00] AlexDWu commented on #155
okay, the solution is
[code]

[2017-03-01 21:00] #155 closed

[2017-03-02 05:14] Ch4s3 commented on #153
could you better describe your use case @hakehuang?

[2017-03-02 13:55] hakehuang commented on #153
I want to classify my build log, which usually appears as below:
Error: 0 means there are no error
Error: <other number> mean there are error.

2017-03-02 13:14 GMT+08:00 Chase Gilliam <notifications@github.com>:

[2017-03-02 16:59] Ch4s3 commented on #153
It seems like you could do that more reliably with a regex or simple string match.

[2017-03-03 04:42] hakehuang commented on #153
yes o no,

some times the string goes this way:
Errors is: 0
Errors for this is : 3

it is very difficult to use a regex to match the diferences.

2017-03-03 0:59 GMT+08:00 Chase Gilliam <notifications@github.com>:

[2017-03-03 18:44] Ch4s3 commented on #153
I'm still not sure LSI is correct. Have you tried the Bayesian classifier? You can set it up not to use stop words. However if I were you, I would just write a simple parser and match on the number.

[2017-03-05 11:48] hakehuang commented on #153
there are many of such patterns, below I just list a few. and all those errors are mixed in a log, with many human readable context for debugging purpose. My idea is to have a log parser, which can classify all the error types, and give me a summary of all. I tried Bayesian and Naive Bayes, which works, but only LSI can give me a search function.
[code]

[2017-03-05 23:49] tra38 commented on #153
Since I found your use case interesting, I decided to try to replicate the original case, except that it...er...works.

[code]

Obviously, it's giving us the wrong answer, and looking at the LSI object suggests that it is due to the program ignoring the one-character object (the error digit) and not including it in the word_hash:

[code]

So there's still that issue to deal with.

But we also have

[2017-03-06 04:39] Ch4s3 commented on #153
@tra38, no unfortunately our SVD function was not super well implemented, and is a bit beyond my ability with linear algebra to fix. I intend to replace it with a native ext at some point.

[2017-03-06 09:33] hakehuang commented on #153
the Bayesian classifier has some other issue for my cases, which I am
trying to debugging now. I drop some hot fixes of mine. with this fix, the
bayes clasifier seems works fine for my cases.

diff --git a/lib/classifier-reborn/bayes.rb b/lib/classifier-reborn/bayes.rb
index 3d5bbf1..d658856 100644
--- a/lib/classifier-reborn/bayes.rb
+++ b/lib/classifier-reborn/bayes.rb
@@ -126,16 +126,23 @@ modu

[2017-03-06 09:36] hakehuang commented on #153
the SVD seems a big challenge for all AI users, do you know any Ruby
solutions for this? using a LAPACK backend seems not that good for cloud
deployment.

2017-03-06 12:39 GMT+08:00 Chase Gilliam <notifications@github.com>:

[2017-03-06 16:51] arjunmenon opened #158 "Approach state of art"
How do you include the TF-IDF weights in this method?
Compared to simple MNB having count of plain bag of words, MNB with TF-IDF gets more accuracy.
How do you implement this?
www.cs.waikato.ac.nz/~eibe/pubs/kibriya_et_al_cr.pdf

Also, as a bonus a complement naive bayes further improves the problem of inconsistent dataset size which with plain MNB favours the larger one.
This scenario is fairly c

[2017-03-06 22:30] Ch4s3 commented on #158
We've discussed TF-IDF, but I haven't had time to dig into it.

[2017-03-06 22:32] Ch4s3 commented on #153
There aren't any good pure Ruby implementations that I'm aware of.

[2017-03-09 20:34] mepatterson commented on #69
Any ideas on this? I'm seeing the Ruby/GSL-derived exception in `SV_decomp` whenever I try to build an index on more than around 2,000 sentences. I have 4,007 sentences I'd like to index. For those 2000 the classifier works great for my purpose, so I'm really eager to find a way to get this working properly, if possible...

[2017-03-10 19:23] Ch4s3 commented on #69
@mepatterson I'd guess you have some malformed input. Can you throw a `begin rescue` around your training and see which doc/line blows it up?

@timcraft I know this sounds stupid, but have you double checked that you're actually using GNU GSL? It may not have loaded correctly.

[2017-03-10 19:26] mepatterson commented on #69
Actually I can confirm @timcraft repro also. Just those three add item
lines will cause the gsl crash every time on my machine using very latest
gsl and rb-gsl

On Fri, Mar 10, 2017 at 1:23 PM Chase Gilliam <notifications@github.com>
wrote:

[2017-03-10 19:40] Ch4s3 commented on #69
Ok, I'll try to dig in this weekend.

[2017-03-11 09:53] timcraft commented on #69
@Ch4s3 Yep, it appears to be loaded ok. I added this at the top of the script (matrix code from gsl-2.1.0.2/examples/linalg/SV.rb which uses SV_decomp):

[code]
Output is `Using GSL/2.3 RubyGSL/2.1.0.2`.

[2017-06-06 11:57] lewislambert opened #160 "Backends not loading"
Hi,

I am trying to use this in a project but am unable to load the Redis Backend. I am currently using Ruby 2.3.4 and attempted to load the Redis backend in a plain IRB session.

The following output is displayed.

[code]

It seems that the `require_relative` is not actually making the classes accessible outside of the Bayes class itself, as it is able to load the memory store without issue. Has

[2017-06-11 11:29] pskarlas commented on #160
Check out  [https://github.com/jekyll/classifier-reborn/issues/109](url)  for the solution.

[2017-06-11 16:27] tra38 commented on #160
URL is broken. Try [this one](https://github.com/jekyll/classifier-reborn/issues/109).

[2017-06-11 16:29] pskarlas commented on #160
Thanks @tra38

[2017-06-13 20:34] Ch4s3 commented on #160
@pskarlas sorry for the confusion. I need to do a new release, but I need to make sure we aren't going to break Jekyll first, and I'm a bit busy lately. I'll try to get to it soon.

[2017-06-21 16:34] mach-kernel commented on #153
I am also having issues using LSI on small words, with `Math::DomainError` being raised. I skip training those words as my current solution. For background, the corpus I am using are directly pulled from credit card compliance information (e.g. has dollar amounts, random `-` characters, etc).

[2017-06-29 04:28] piroor opened #161 "Minimum length of not-stopword terms should be changable (for each language)"
`ClassifierReborn::Hasher::word_hash_for_words` always rejects terms shorter than 3 characters. The minimum length is hardcoded at: https://github.com/jekyll/classifier-reborn/blob/master/lib/classifier-reborn/extensions/hasher.rb#L27

However, there are many meaningful terms shorter than 3 characters in Japanese text, for example: "真" ("true"), "偽" ("false"), "信頼" ("trust"), "弟" ("younger brother

[2017-06-29 04:36] piroor commented on #131
I've opened #161 but it should be resolved as a part of this tokenizer issue... Sorry I didn't research this before I open it.

[2017-07-01 12:15] arbox opened #163 "RubyML list"
Dear maintainers,

we've recently added `classifier-reborn` to our RubyML list: https://github.com/arbox/machine-learning-with-ruby

In order to connect all Ruby & ML related projects we introduced the `rubyml` topic on GitHub.

Please cosider adding the `rubyml` topic to this repository as well so the Ruby community can discover `classifier-reborn` faster :smiley:

Thank you in advance!

[2017-07-31 04:08] Ch4s3 commented on #161
That sounds like a good idea. If you submit that as a pr, and update the docs/readme I'll merge it.

[2017-07-31 04:11] Ch4s3 commented on #131
@piroor THanks for hopping in!

[2017-07-31 04:11] Ch4s3 commented on #163
Done!

[2017-07-31 04:11] #163 closed

[2017-07-31 04:11] Ch4s3 commented on #160
Bump. Trying to get this out soon.

[2017-07-31 04:12] #144 closed

[2017-07-31 04:16] #127 closed

[2017-07-31 04:16] Ch4s3 commented on #48
Closing due to lack of response

[2017-07-31 04:16] #48 closed

[2017-07-31 04:17] Ch4s3 commented on #30
@danielpclark Have you moved to thermite yet? I'm looking to pick this back up.

[2017-07-31 04:39] arbox commented on #163
Thank you!

[2017-07-31 05:07] danielpclark commented on #30
@Ch4s3 No… The author updated his PR to be current with the code base but the CI tests results are intermittent/flaky.

[2017-07-31 23:15] Ch4s3 commented on #30
Yeah, I saw that. I need to get back to the Rust book and try this again.

[2017-07-31 23:24] Ch4s3 opened #164 "Releasing 2.2.0"
To the community,

I haven't had much time the last few months to work on classifier-reborn, and there's a lot of good stuff on master. I'm still hoping to make a push later this year towards 3.0, but I want to get what we have out there and make it usable. Are there any objections to a release in the next week? @ibnesayeed, @tra38, et. al.

-C

[2017-07-31 23:56] Ch4s3 commented on #74
closing due to inactivity

[2017-07-31 23:56] #74 closed

[2017-07-31 23:58] #160 closed

[2017-07-31 23:59] Ch4s3 commented on #78
closing due to inactivity. @neo-apz feel free to ping me and I'll reopen this.

[2017-07-31 23:59] #78 closed

[2017-08-01 00:01] Ch4s3 commented on #152
@tra38 I'm closing due to inactivity. Feel free to ping me if there's work to be done here.

[2017-08-01 00:01] #152 closed

[2017-08-01 03:37] ibnesayeed commented on #164
LGTM!

I had some enhancements planned, but I wont have spare cycles anytime soon. That said, I agree that there is a lot of good stuff and some remarkable changes that need to go out. Later we can plan an outline for 3.0 and see what changes in the architecture and the API should be made.

[2017-08-01 03:44] ibnesayeed commented on #140
@Ch4s3 please take care of the second point on the original post of this ticket before releasing 2.2.0 as per #164. This should be pretty easy and quick to deal with.

[2017-08-02 04:06] Ch4s3 commented on #140
@ibnesayeed will do.

[2017-08-15 18:26] lessaworld commented on #153
Just came across this same issue... I know it's not a long term solution, but since I'm just evaluating this project,  instead of skipping the small words, I created a hack function to just go around the problem, for now.

def fix_hack (text)
    text.split(" ").map! {|w| w.size < 3 ? w+"_" : w}.join(" ")
end

and then, I just wrap every mention of the content during training and classification. e

[2017-08-25 16:15] gugaiz opened #165 "Multiple clasifications"
Hi I tried to do a test with multiple classifications (i.e. `classifier = ClassifierReborn::Bayes.new 'Social', 'Email', 'Direct', 'Organic','Other'`) but it does not seems to work.
Should it work ok? or is this not supported yet?

[2017-08-31 16:01] Ch4s3 commented on #165
Which version are you using? The readme is focused on master, which I haven't released just yet.

[2017-08-31 16:08] gugaiz commented on #165
I made it work for me. I forked and changed the way "Infinity" is being used, just in case you want to have a look to the change.

[2017-09-05 13:41] Ch4s3 commented on #165
@gugaiz could you link to what you're doing or open a pr here?

[2017-11-08 09:53] Carpela opened #167 "Can't include Validator Module"
require 'classifier-reborn'

include ClassifierReborn::ClassifierValidator
NameError: uninitialized constant ClassifierReborn::ClassifierValidator

Am I doing something stupid here?

[2017-11-08 10:56] Carpela commented on #167
Looks like the validators aren't on the 2.1.0 release.
Pulled the master branch and all working fine.

[2017-11-09 17:51] Ch4s3 commented on #167
Yeah, sorry @Carpela, I need to roll a new release. I'll either do that soon or update the docs. I'll happily merge a pr.

[2017-11-28 21:39] elisaado commented on #69
Same here.

[2017-11-28 22:04] Ch4s3 commented on #69
@elisaado can you post any details?

[2017-12-14 01:54] ArtOfCode- commented on #64
Time for some reanimation of zombie threads... I ran into this issue again.

Classifier Reborn 2.1.0, GSL 2.1.0.3. I'm taking data from a Rails app and trying to feed it into an LSI classifier:

[code]

The data being fed in looks something like this:

    <p>I am looking for either a web app or installable program that will track themovies I have watched.</p><p>I have found a few online but I wou

[2017-12-14 01:58] parkr commented on #164
👍

[2017-12-14 19:23] Ch4s3 commented on #164
@ibnesayeed and @parkr I'll try to roll this out by the weekend. I'll also try to make sure the new version doesn't cause any jekyll issues, and put in a PR there if it looks good.

[2017-12-14 19:24] Ch4s3 commented on #64
@ArtOfCode- can you try our master branch? There's been a lot of work dones since 2.1.0 was released.

[2017-12-14 20:28] ArtOfCode- commented on #64
Sure thing. I'm not at a dev machine right now, but I'll give it a shot when I get back later on.

[2017-12-15 01:03] Ch4s3 commented on #164
done

[2017-12-15 01:03] #164 closed

[2017-12-15 01:12] Ch4s3 commented on #64
I just cut a new version, 2.2.0. Let me know if it works.

[2017-12-15 01:26] ibnesayeed commented on #164
I can see it pushed to the [RubyGems site](https://rubygems.org/gems/classifier-reborn/versions/2.2.0), but the [release](https://github.com/jekyll/classifier-reborn/releases) is not tagged here on GitHub yet. Am I being too impatient? ;-)

[2017-12-15 01:29] ibnesayeed commented on #167
This can perhaps be closed now.

[2017-12-15 01:33] parkr commented on #164
Looks like the `v2.2.0` tag wasn't pushed up?

[2017-12-15 01:33] ibnesayeed opened #169 "Update Homepage link on RubyGems site"
The Homepage link of the [RubyGems site](https://rubygems.org/gems/classifier-reborn) still points to the GitHub repo. Now that we have a [dedicated site for it](http://www.classifier-reborn.com/), I think the link should be updated there.

[2017-12-15 01:58] ArtOfCode- commented on #64
So I've given both a shot. Neither 2.2.0 from Gems or the master branch solve the problem - still getting the same error.

[2017-12-15 02:25] ArtOfCode- commented on #64
More info: unknowingly, I actually wasn't using GSL (was installed but not loaded... bah). Using GSL, the problem seems to have disappeared. That seems to indicate the issue is somewhere in CR's own implementation of vectors.

[2017-12-15 04:04] Ch4s3 commented on #164
let me take a look

[2017-12-15 04:06] Ch4s3 commented on #164
Ok, I drafted the release. I thought the jekyll bot would catch it automatically.

[2017-12-15 04:07] #167 closed

[2017-12-15 04:09] Ch4s3 commented on #169
For some reason I can't edit that link. I changed the doc link, but that one I can't.

[2017-12-15 04:11] Ch4s3 commented on #169
Ahh, I think it pulls from the gemspec which I just updated. I guess we'll have to wait for the next release for this to be reflected on https://rubygems.org/gems/classifier-reborn

[2017-12-15 04:12] Ch4s3 commented on #64
That is in fact consistent with what I'd expect. We intend to fix our implementation, but it's a tricky algorithm to implement correctly in Ruby.

[2017-12-15 04:13] ibnesayeed commented on #169
I was about to point this out, but I saw you have already committed a change in the gemspec file. :+1:

[2017-12-15 04:13] Ch4s3 commented on #169
Yep. I'll close this for now then.

[2017-12-15 04:13] #169 closed

[2017-12-15 04:18] ibnesayeed commented on #169
@Ch4s3 you might want to add the full URL `http://www.classifier-reborn.com/` instead of just `www.classifier-reborn.com`. Also, the JRuby version of the gemspec may also be changed to keep the metadata in sync, though, I am not sure about that.

[2018-01-01 15:35] mthmulders opened #170 "Using classifier-reborn in Jekyll doesn't work?"
Not sure if this is the right place to ask... Feel free to redirect my question if it doesn't belong here.

I'm using the following:
* Jekyll 3.6.2
* Classifier Reborn 2.2.0
* macOS 10.13.2
* Ruby 2.4.3p205 (2017-12-14 revision 61247) [x86_64-darwin17]

I'm trying to use LSI to build "related posts", so that I can enrich a document in Jekyll with references to related documents.

However, the [`si

[2018-01-02 19:51] Ch4s3 commented on #170
There are a few possibilities here. There could be a regression in 2.2.0 that we missed, your input could be invalid and Jekyll is swallowing the error, or you could be hitting some odd edge case in the LSI.

Are you using the GSL lib? What does your input look like? Do you have any super short posts, like maybe only a line or two? Does Classifier Reborn 2.1.0 work as expected?

[2018-01-02 20:08] mthmulders commented on #170
Thanks for the suggestions!

* I am using the GSL lib, as I read that it greatly reduces the time needed to run classification. Uninstalling GSL doesn't make a difference, though.
* My input is a set of 23 Markdown files, the smallest of them is 642 bytes (7 lines) and the largest is 15649 bytes (224 lines).
* At least I can cross out the option of a regression, as LSI didn't work with Classifier

[2018-01-02 20:23] Ch4s3 commented on #170
Yes, you can do it from irb. You'll need to `require 'classifier-reborn'` first.

Then you can set up a new lsi classifier:
[code]
Then read in each of your markdown files using `File.open`. After that feed the markdown into the classifier as shown in the [docs](http://www.classifier-reborn.com/lsi). Something like this:

[code]

You'll be trying to use the `find_related` method. If it blows up, p

[2018-01-02 20:45] mthmulders commented on #170
Thanks again for the suggestions!

I did some experiments with `ClassifierReborn::LSI.new`, `add_item` and `find_related`, while reading raw Markdown files. Since I don't have `categories`, I skipped the second argument to `add_item`. It seems to work pretty well, giving me documents that related to the text I was looking for. So maybe it's something in the Jekyll / Classifier Reborn integration i

[2018-01-02 22:04] Ch4s3 commented on #170
Interesting, I was expecting this to reveal an issue. I guess we need to see what's going on over at Jekyll. @parkr @jekyll/administrators I'll file an issue and see if we can get to the bottom of this.

[2018-01-03 11:01] parkr commented on #170
I don’t believe `site.related_post` is a thing, so that makes sense. Please try `site.related_posts` instead.

[2018-01-03 12:32] mthmulders commented on #170
Well, now I feel stupid...!

Indeed, `site.related_posts` contains some related documents. Strange thing, though, is that I can see that in the layout for my post, but not in a separate file which populates a side-bar next to the post content. Will dive into that. Thanks a lot!

[2018-01-03 12:32] #170 closed

[2018-01-03 14:40] Ch4s3 commented on #170
Glad we got this figured out.

[2018-02-22 02:32] tracegilton opened #172 "Migrating classifier data from an older classifier-reborn structure"
Hi all,

I am attempting to upgrade a classifier that I built using a previous version of ClassifierReborn::Bayes. It looks like I initialized the classifier before [backends were added](https://github.com/jekyll/classifier-reborn/pull/84/commits/737e744d51671d0275c5d81e313ae12e3daf794f), so now I am running into compatibility issues. I store the classifier structure on disk with Marshal and now w

[2018-02-26 02:27] Ch4s3 commented on #172
Interesting. I guess we should have thought this through before publishing the new code. @ibnesayeed  do you have any thoughts?

Without having taken a look yet, I imagine you could do some metaprogramming to open the class and add the backend attribute. But, I'm not sure. I'll give it some thought.

[2018-02-26 04:26] ibnesayeed commented on #172
Marshaling a complex object is always going to have the potential ob breaking compatibility when the data-structure changes or any other attributes change. I remember wasting a month figuring out why a Weka model was not predicting anything and the culprit turns out to be the fact that the model was built using a different version of Weka than what was being used to to load the model file.

I thin

[2018-02-26 22:02] tracegilton commented on #172
Thank you for the replies — Exporting as YAML seems like a good way for me to move the trained data into the new structure, but I am unfamiliar with the inner-workings of the backends code to know the impact this will have.

I was able to use a new ClassifierReborn exported to YAML as a template and added in my old data and training totals. When re-importing that YAML structure, it *looks* correct

[2018-02-26 23:04] ibnesayeed commented on #172
The point of an object-independent data-only serialization would to decouple the data from the class structure and object state. Exporting such data structure means looping through all the stored keys and serializing them in a way that is backend independent. Importing it means populating the backend store with those keys and values with the synthesized data rather than loading a ready-made object

[2018-02-27 03:29] ibnesayeed commented on #172
Once you have a PR in place I will be happy to review it. My current priorities are keeping my hands very tight otherwise I would have implemented it.

[2018-03-01 19:32] Ch4s3 commented on #172
Sounds good. I'll dig in as soon as I can.

[2018-03-01 21:22] ibnesayeed commented on #172
We need to implement following two methods in each backend and have a proxy/alias method to call them from the main `Bayes` class:

[code]

Instead of specifying file name in the parameter, we can supply/return objects and move the serialization/deserialization responsibility in a task or in some other method. That way the YAML support will not be baked in, but other alternate formats can also be

[2018-03-01 22:43] Ch4s3 commented on #172
I'm trying to think if we need to do a minor release of a pre-backend version to make this work. Thoughts?

[2018-03-01 22:48] ibnesayeed commented on #172
That's a good idea indeed. This feature can be released as minor versions for both pre-and post-backend releases at the same time.

[2018-03-01 23:12] ibnesayeed commented on #172
Yes, the backend change was big enough to warrant a major version bump, but we couldn't see it coming. So, for now 2.1.1 and 2.2.1 will do the trick if we don't be too religious about the semver.

[2018-03-01 23:19] Ch4s3 commented on #172
I agree. I'll take a look tonight then and see if I can pull together a poc.

[2018-03-02 02:07] Ch4s3 commented on #172
Ok I have a WIP pr at #174

[2018-03-02 11:09] texrg opened #175 "whan i add a utf8 chars"
/home/oo/.gem/ruby/gems/classifier-reborn-2.2.0/lib/classifier-reborn/lsi.rb:313:in `sort': comparison of Float with NaN failed (ArgumentError)
	from /home/oo/.gem/ruby/gems/classifier-reborn-2.2.0/lib/classifier-reborn/lsi.rb:313:in `build_reduced_matrix'
	from /home/oo/.gem/ruby/gems/classifier-reborn-2.2.0/lib/classifier-reborn/lsi.rb:143:in `build_index'
	from /home/oo/.gem/ruby/gems/classifie

[2018-03-02 14:55] Ch4s3 commented on #175
@texrg What does you input look like?

[2018-03-03 07:05] Christophy opened #176 "In some languages like Chinese, a word of length not bigger than 2 is very common, so I suppose this is a very strong(sometimes wrong in other languages) assumption."
https://github.com/jekyll/classifier-reborn/blob/4e807496e69cbb33ce2663564ef287f167915879/lib/classifier-reborn/extensions/hasher.rb#L30

[2018-03-03 19:42] Ch4s3 commented on #176
We could probably make this configurable. I’ll happily review a PR for this.

[2018-03-05 18:25] Ch4s3 commented on #176
@Christophy We just merged https://github.com/jekyll/classifier-reborn/pull/162, which allows for custom tokenizers. Could you let us know if this helps?

[2018-03-06 05:33] Ch4s3 commented on #165
Ahh, I just looked at the fork https://github.com/gugaiz/classifier-reborn/commit/5fdd6b89bf08d6657cdb822dd479d86252661068 and I see what you're doing @gugaiz. This may be a bug WRT thresholds. I'd be happy to look at a pr.

[2018-03-06 05:33] Ch4s3 commented on #161
closed by #165

[2018-03-06 05:33] #161 closed

[2018-03-06 05:37] Ch4s3 commented on #64
This may be fixed (ish) by #173

[2018-03-06 05:37] Ch4s3 commented on #64
This may be fixed (ish) by #173

[2018-03-06 05:37] #64 closed

[2018-03-20 15:03] samuraraujo opened #177 "How to install via jruby"
Hi all, how do I install this gem using jruby.

I tried:

gem install classifier-reborn
and
gem install classifier-reborn-jruby

none of them worked.

Any suggestion?

[2018-03-26 13:32] Ch4s3 commented on #177
Which version of jRuby? Can you share the error message for `gem install classifier-reborn`?

[2018-03-28 14:45] eftikharEmad commented on #30
Hello,
can you check my test case
I have strings = [] with 100 element

[code]

but after specific number of added Items I am getting `comparison of Float with NaN failed`
Once I remove the last element from classifier I do the process again and give same error on another string.

I am not sure Why this error raised for string rather than other.
Some strings I got this error `Math::DomainError: Nu

[2018-03-29 00:36] danielpclark commented on #30
@Ch4s3 I've got Thermite integrated now. I've submitted a bunch of PRs to ruru that give you most of Ruby's native features and I've merged them all ow my fork https://github.com/danielpclark/ruru/tree/playground if you want to try them out.  I'm building FasterPath directly from it so that repo branch is here to stay.

I have pretty much mastered Rust to Ruby integration.  Ruru doesn't support sp

[2018-04-16 19:56] Ch4s3 commented on #30
@danielpclark I'll take a look as soon as I can, but it probably won't be until early Summer. Thanks for giving me the heads up!

[2018-06-19 19:59] jtoy opened #178 "ability to serialize model?"
I didn't see any mechanism in the docs to do this. Is is poddible? that way we dont need to retrain every  time.

[2018-06-20 16:28] Ch4s3 commented on #178
You can marshal to Yaml, which works pretty well for the classifier. We're working on an import/export method at the moment in #174 , but the release date is tbd.

[2018-07-15 05:43] tra38 opened #179 ""ArgumentError: comparison of Float with NaN failed" if trying to search a corpus with an item that lacks common words"
[code]

I've encountered this error in https://github.com/tra38/ZombieWriter/issues/8 . What would be the best way of handling this issue? My first instinct is to simply add all my strings and then scan through the entire LSI again to remove all content that contain vectors of NaNs, but that seems exceedingly inelegant...there has to be a better solution, right?

[2018-07-15 05:47] tra38 commented on #152
Hi @Ch4s3, I chosen to handle the issue on my end by just catching the error and generating an empty summary instead.

[2018-07-16 22:33] Ch4s3 commented on #179
There's probably a case for cleaning out NaNs as we go in the library, but I'm not sure.

[2018-07-19 03:44] ankane opened #180 "HTTPS for static site"
Hey, thanks for this awesome gem 👍  It'd be great to move the website - http://www.classifier-reborn.com - to https now that GitHub pages support it. https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

Good article about why static sites need it: https://www.troyhunt.com/heres-why-your-static-website-needs-https/

[2018-07-19 08:34] ankane commented on #180
Great, would be good to update the link in the description and readme as well.

[2018-07-19 08:49] DirtyF commented on #180
done in https://github.com/jekyll/classifier-reborn/commit/dd94d0e44247b14d88c4b25746f4eb4dbbc61df2

[2018-07-19 09:05] ankane commented on #180
Awesome 🎉

[2018-08-02 17:45] epugh commented on #179
I'm getting the same issue.

[2018-08-02 17:54] epugh commented on #153
For me, `brew install gsl` and adding the GSL dependency:

[code]
has solved the sqrt issue and the other NaN issue, I think!

[2018-08-02 20:12] Ch4s3 commented on #153
@epugh Have you tried with small words ~3-4 chars in length?

[2018-08-02 20:16] Ch4s3 commented on #179
I'm all for cleaning these up, but it may change behavior. I'm happy to review/merge a PR if either @tra38 or @epugh want to submit one.

[2018-08-02 21:02] epugh commented on #153
Yep, and with those, I just get a warning message, the code runs.

Here is my test set:

[code]

[2018-08-02 21:03] epugh commented on #153
So the "na" gives an error, and previously before I installed gsl, the "n/a" blew up!

[2018-08-03 14:20] Ch4s3 commented on #153
Unfortunately that's expected behavior, but not the desired behavior. Out plain ruby lsi implementation is pretty broken, and I lack the math background necessary to fix it.

[2018-08-03 14:42] epugh commented on #153
I wonder if the best path is to say "You must have GSL installed"?   I;e accept the plain ruby issues...

[2018-08-03 20:44] Ch4s3 commented on #153
@epugh unfortunately we're a dependency of Jekyll, so we want to have a ruby only option to make it more accessible. However, for any sort of prod use beyond that, we strongly endorse GSL.

[2018-11-29 17:28] mike-stewart opened #181 "Deprecated Gem::Specification#has_rdoc"
I see this error when bundling.

[code]

Should be a simple change, let me know if you want a PR.

[2018-11-29 19:11] mattr- commented on #181
A PR would be great! Thank you! :heart:

[2018-11-29 19:42] #181 closed

[2018-11-29 19:43] DirtyF commented on #181
@mike-stewart done, thanks for reporting 👍

[2018-11-29 19:43] #177 closed

[2018-11-29 21:32] mike-stewart commented on #181
Thanks! @DirtyF will you be doing a release? Sounds like it could be removed as early as Saturday.

[2018-11-30 00:21] DirtyF commented on #181
@mike-stewart prepared a [2.3.0 release](https://github.com/jekyll/classifier-reborn/releases/tag/v2.3.0), all is left is for @parkr or @Ch4s3 to push the gem to rubygems.

[2018-12-08 20:29] mjc-gh opened #182 "2.3.0 not released to Rubygems"
It's committed and available on Github just not released to Rubygems. Thanks for this gem!!

[2018-12-10 21:57] Ch4s3 commented on #182
Ahh, someone else from jekyll cut a version without telling me, I was planning on adding some needed backwards compat import/export code first. I'll release this later when I'm on the right laptop.

[2019-01-27 17:30] masukomi opened #183 "broken links to docs (domain name not resolving)"
the README (and thus front page of github project) has a number of documentation links going to classifier-reborn.com. Unfortunately the domain is in a [clientHold status](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en#clientHold) which means it isn't resolving and the docs links are broken.

[2019-02-28 05:34] #153 closed

[2019-02-28 18:09] a-maas commented on #183
Anyone have any information about this? Is there an alternative place we can find these docs, like a repo for the classifier-reborn website?

[2019-02-28 19:07] Ch4s3 commented on #183
I'm working on fixing the domain this weekend. For now the docs are in the repo. Sorry for lettignt his slip off my radar, I need to post a request for help maintaining the gem.

[2019-05-11 00:49] stephenhmarsh opened #184 "TypeError: no implicit conversion from nil to integer in /classifier-reborn-2.2.0/lib/classifier-reborn/lsi.rb:313:in `sort'"
[code]

throws:

[code]

trace:
[code]

object:
[code]

[2019-05-20 12:47] pyromaniackeca opened #185 "Multiple separate bayes classifiers with single redis database"
Is there a way to have multiple completely separate bayes classifiers with a single redis database?

I can monkey patch the redis backend to accept a scope param and combine that with the keys.
But I'm curious to know if there's a supported way to do it that I'm missing?

Thanks.

[2019-07-13 22:53] dltj commented on #183
The domain is resolving again, but the webserver at that domain is returning an HTTP 403 error.

[2019-08-09 15:16] tosswill commented on #183
Links are still dead :(

[2019-08-25 02:00] ibnesayeed opened #186 "Documentation at classifier-reborn.com in inaccessible"
@Ch4s3 are you still maintaining the `classifier-reborn.com` domain? The site is returning `403 Forbidden` response for quite some time.

[2019-09-26 14:08] Ch4s3 commented on #186
I didn't have it set to auto renew and lost access to the registrar account where it was originally purchased. Basically it needs to be re-purchased.

[2019-09-26 14:09] Ch4s3 commented on #183
Basically someone needs to secure a new domain. Then someone can updated the github page and links. I'll help out if someone wants to take over that. I'm not actively working on this project or Ruby anymore, but I'll happily help someone else get spun up.

[2019-09-26 14:10] Ch4s3 commented on #185
There's no official way to do that, but I'd accept a PR to do it.

[2019-09-26 14:12] Ch4s3 commented on #184
@stephenhmarsh This is a bug that has existed since the original implementation that as resisted numerous attempts to fix it. I could be because you input is too short for lsi, but I'm not sure.

[2019-09-26 14:58] ibnesayeed commented on #186
A quick fix would be to just rename or remove `docs/CNAME` file (and update links in the README and description of the site) so that at least the site is accessible from the https://jekyll.github.io/classifier-reborn URL. Currently, it is redirecting (`301 Permanently`) to the custom domain which is returning `403 Forbidden`.

[code]

[2019-09-27 00:00] Ch4s3 commented on #186
If you open a PR I’ll merge it. I’m traveling and away from my machine so I can’t really do it myself atm.

[2019-09-27 00:11] ibnesayeed commented on #186
The `CNAME` file is perhaps generated automatically when a custom domain name is specified on the settings page and the link in the description can be updated from the landing repo page. Once those things are fixed, I can create a PR to update the README.

[2019-09-27 14:35] Ch4s3 commented on #186
@ibnesayeed done

[2019-09-27 15:23] ibnesayeed commented on #186
PR #187 should take care of the rest.

[2019-09-27 22:47] #186 closed

[2019-09-30 16:21] Ch4s3 commented on #183
This is addressed now

[2019-09-30 16:21] #183 closed

[2019-10-23 19:41] allcentury opened #188 "Allow redis connection to be injected"
It be easier to scale up our redis usage if we were able to pass around a redis connection to `BayesRedisBackend` rather than let that class hold it's own connection.  In fact, I think everyone benefits from this because this would also allow folks to use other redis gems as long as it conformed to the interface.

The idea here might look like this:

[code]

Instead:

[code]

Would you be open to

[2019-10-28 18:38] Ch4s3 commented on #188
Submit a PR and I'll take a look as soon as I can

[2019-11-16 03:39] khataev commented on #182
Still not released (

[2020-07-21 02:48] 0xdevalias opened #192 "Can classifier-reborn work with Numo::NArray / Numo::GSL ? Is that a better choice than nmatrix?"
I noticed that https://jekyll.github.io/classifier-reborn/#dependencies states we can use the `rb-gsl` gem to speed things up, and that in turn [references using `nmatrix` or `narray`](https://github.com/SciRuby/rb-gsl#nmatrix-and-narray-usage).

The linked `narray` GitHub page [states that it is in maintenance mode](https://github.com/masa16/narray#new-version-is-under-development---rubynumonarra

[2020-07-22 00:35] 0xdevalias opened #193 "Is this project still actively maintained, or is it abandoned?"
As I note in https://github.com/jekyll/classifier-reborn/issues/192, it seems that some of the recommended library choices for speeding this project up are quite outdated, and themselves seem unmaintained, or have been replaced by newer versions.

I see that the latest commit to this project was in February 2020, yet the last released version was in December 2017, with [at least one issue](https:/

[2020-07-22 00:38] 0xdevalias commented on #182
Seems [this has still not occured](https://rubygems.org/gems/classifier-reborn/versions/2.2.0), and [makes me think this project may no longer be actively maintained](https://github.com/jekyll/classifier-reborn/issues/193).

[2021-05-22 20:48] mkasberg commented on #193
To add some additional context to the above - I have a Jekyll site with ~50 posts. I typically build this site on Ubuntu Linux using `jekyll build --lsi`.

On Ubuntu 16.04, with `libgsl-dev` installed, my site builds in under 2 seconds. (Ubuntu 16.04, Ruby 2.6, gsl 2.1)

On Ubuntu 20.10, with `libgsl-dev` installed, the identical jekyll project takes 7m51s to build on the same hardware. (Ubuntu 20

[2021-05-22 21:31] mkasberg commented on #193
After more testing, I was able to get fast results in a Docker container with Ubuntu 20.10 and GSL 2.6. It's unclear to me why my host machine was building slowly when not using a Docker container, but reinstalling some gems seemed to fix it.

I did `gem uninstall gsl` and `gem uninstall classifier-reborn`, followed by `bundle install`. After reinstalling those gems, LSI was very fast again! Sorry

[2021-09-28 08:06] sixtyfive opened #194 "Problem with certain characters?"
This is only for the LSI; the Bayes handles it fine:

[code]

[2022-05-04 02:22] mkasberg commented on #192
Bringing this issue back to life! I love Jekyll :heart: and still use it for several personal projects. I also use this classifier-reborn gem, and it would be great to make sure it remains easy to use with more modern hardware & software. Here are some notes about why this matters:

* This gem is currently testing in CI against Ruby 2.4 and 2.6, both of which are [EOL](https://www.ruby-lang.org/en

[2022-05-04 13:27] mattr- commented on #192
If you can make the PRs, I can review and merge them.

[2022-06-11 02:14] mkasberg commented on #192
@mattr- what's the process like for releasing a new gem version now that #198 is merged?

[2022-06-19 18:10] mattr- commented on #192
I've pushed a v2.3.0 tag and am waiting on permission changes to rubygems.org to push the new gem itself. There will be a new release soon™

[2022-06-19 18:10] mattr- commented on #192
Since v2.3.0 will support Numo, I'm going to go ahead and close this.

[2022-06-19 18:10] #192 closed

[2022-06-19 18:12] mattr- commented on #193
Version 2.3.0 will be out soon. Simply waiting on the gem upload. Assuming folks will continue contributing patches and things, I'm happy to continue doing the maintenance work.

[2022-06-19 18:12] #193 closed

[2022-06-19 18:13] mattr- commented on #182
The real version 2.3.0 will be out soon. Closing.

[2022-06-19 18:13] #182 closed

[2022-07-09 00:49] mkasberg commented on #192
@mattr- Any updates? I still don't see 2.3.0 at https://rubygems.org/gems/classifier-reborn

[2022-07-12 15:21] mattr- commented on #192
Sorry, I was on vacation. I just pushed the gem up.

[2022-07-13 01:08] mkasberg commented on #192
Awesome! Apologies for pinging you on your vacation, hope you had a great time!

[2022-08-30 01:38] mkasberg opened #200 "[JRuby] Tests fail with jar-dependencies version mismatch"
Our JRuby tests are failing with this error:

Triggered by this command:

[code]

Though I suspect any `bundle` command with the `BUNDLE_GEMFILE: Gemfile-jruby` env variable set would cause this.

Looks to be possibly related to this issue: https://github.com/jruby/jruby/issues/7262

I'm not sure what the right solution is yet but JRuby tests on GitHub Actions will fail in the mean time...